[2013-11-18 16:58] laurawesley opened #2 "Existing style guide resources"
This repo has the existing [WxT 3.1 style guide](http://wet-boew.github.io/wet-boew-styleguide/guide-en.html) in it. We need to update it for WxT4.0, review it against usability and accessibility heuristics as well as any test results AND add what's missing.

UXWG had started [a GC style guide](http://www.gcpedia.gc.ca/wiki/Government_of_Canada_style_guide_for_web) (internal link) but the timing w

[2013-12-17 15:49] rubinahaddad opened #3 "Heuristic evaluation - Expand/collapse"
Please perform a heuristic review of the following component: [Expand/collapse example](http://wet-boew.github.io/v4.0-ci/demos/details/details-en.html).
## Performing a heuristic evaluation
1. Post a comment on this issue indicating that you will perform a heuristic evaluation of the component. If you see that at least three people have already indicated that they are performing a heuristic evalu

[2013-12-17 17:46] rubinahaddad opened #4 "Heuristic evaluation - Archiving content"
Please perform a heuristic review of the following component: [Archiving content example](http://wet-boew.github.io/v4.0-ci/demos/archived/archived-en.html).
## Performing a heuristic evaluation
1. Post a comment on this issue indicating that you will perform a heuristic evaluation of the component. If you see that at least three people have already indicated that they are performing a heuristic e

[2013-12-17 17:51] rubinahaddad opened #5 "Heuristic evaluation - Footnotes"
Please perform a heuristic review of the following component: [Footnotes example](http://wet-boew.github.io/v4.0-ci/demos/footnotes/footnotes-en.html).
## Performing a heuristic evaluation
1. Post a comment on this issue indicating that you will perform a heuristic evaluation of the component. If you see that at least three people have already indicated that they are performing a heuristic evaluat

[2013-12-17 17:59] rubinahaddad opened #6 "Heuristic evaluation - Auto-complete"
**_Note: This interface is dependant on the core device or platform components (ex. keyboards, dropdown rendering etc). This component may require additional testing on platforms such as iOS, Android, Blackberry.**_

Please perform a heuristic review of the following component: [Auto-complete example](http://wet-boew.github.io/v4.0-ci/demos/datalist/datalist-en.html).
## Performing a heuristic eva

[2013-12-17 17:59] rubinahaddad opened #7 "Heuristic evaluation - Light box"
Please perform a heuristic review of the following component: [Light box example](http://wet-boew.github.io/v4.0-ci/demos/lightbox/lightbox-en.html).
## Performing a heuristic evaluation
1. Post a comment on this issue indicating that you will perform a heuristic evaluation of the component. If you see that at least three people have already indicated that they are performing a heuristic evaluatio

[2013-12-17 18:01] rubinahaddad opened #8 "Heuristic evaluation - Form validation"
Please perform a heuristic review of the following component: [Form validation example](http://wet-boew.github.io/v4.0-ci/demos/formvalid/formvalid-en.html).
## Performing a heuristic evaluation
1. Post a comment on this issue indicating that you will perform a heuristic evaluation of the component. If you see that at least three people have already indicated that they are performing a heuristic e

[2013-12-17 18:02] rubinahaddad opened #9 "Heuristic evaluation - Dialogue box"
Please perform a heuristic review of the following component: [Dialogue box example](http://wet-boew.github.io/v4.0-ci/demos/overlay/overlay-en.html).
## Performing a heuristic evaluation
1. Post a comment on this issue indicating that you will perform a heuristic evaluation of the component. If you see that at least three people have already indicated that they are performing a heuristic evaluati

[2013-12-17 18:03] rubinahaddad opened #10 "Heuristic evaluation - Share widget"
Please perform a heuristic review of the following component: [Share widget example](http://wet-boew.github.io/v4.0-ci/demos/share/share-en.html). Please also evaluate [different placement example](http://news.gc.ca/web/article-en.do?mthd=index&crtr.page=1&nid=809899)
## Performing a heuristic evaluation
1. Post a comment on this issue indicating that you will perform a heuristic evaluation of the

[2013-12-17 18:16] rubinahaddad opened #11 "Heuristic evaluation - Multimedia player"
**_Note: This interface is dependant on the core device or platform components (ex. keyboards, dropdown rendering etc). This component may require additional testing on platforms such as iOS, Android, Blackberry.**_

Please perform a heuristic review of the following component: [Multimedia player audio example](http://wet-boew.github.io/v4.0-ci/demos/multimedia/multimedia-audio-en.html),  [Multime

[2013-12-17 18:20] rubinahaddad opened #12 "Heuristic evaluation - Table enhancement (Filterable/data)"
**_Note: This interface is dependant on the core device or platform components (ex. keyboards, dropdown rendering etc). This component may require additional testing on platforms such as iOS, Android, Blackberry.**_

Please perform a heuristic review of the following component: [Table enhancement (Filterable/data) example](http://wet-boew.github.io/v4.0-ci/demos/tables/tables-en.html).
## Performi

[2013-12-17 18:21] rubinahaddad opened #13 "Heuristic evaluation - Carousel"
Please perform a heuristic review of the following component: [Carousel example](http://wet-boew.github.io/v4.0-ci/demos/tabs/tabs-carousel-en.html).
## Performing a heuristic evaluation
1. Post a comment on this issue indicating that you will perform a heuristic evaluation of the component. If you see that at least three people have already indicated that they are performing a heuristic evaluatio

[2013-12-17 18:23] rubinahaddad opened #14 "Heuristic evaluation - Twitter embedded timeline"
Please perform a heuristic review of the following component: [Twitter embedded timeline example](http://wet-boew.github.io/v4.0-ci/demos/twitter/twitter-en.html).
## Performing a heuristic evaluation
1. Post a comment on this issue indicating that you will perform a heuristic evaluation of the component. If you see that at least three people have already indicated that they are performing a heuri

[2013-12-17 18:28] rubinahaddad opened #15 "Heuristic evaluation - Main menu (Large views)"
Please perform a heuristic review of the following component: [Main menu (Large views) example](http://wet-boew.github.io/v4.0-ci/demos/menu/menu-en.html).
## Performing a heuristic evaluation
1. Post a comment on this issue indicating that you will perform a heuristic evaluation of the component. If you see that at least three people have already indicated that they are performing a heuristic eva

[2013-12-17 18:55] rubinahaddad opened #16 "Heuristic evaluation - Feedback/Rate this page"
**_Note: This interface is dependant on the core device or platform components (ex. keyboards, dropdown rendering etc). This component may require additional testing on platforms such as iOS, Android, Blackberry.**_

Please perform a heuristic review of the following component: [Feedback/Rate this page example](http://wet-boew.github.io/v4.0-ci/demos/feedback/feedback-en.html).
## Performing a heu

[2013-12-17 18:56] rubinahaddad opened #17 "Heuristic evaluation - Calendar: Date picker"
**_Note: This interface is dependant on the core device or platform components (ex. keyboards, dropdown rendering etc). This component may require additional testing on platforms such as iOS, Android, Blackberry.**_

Please perform a heuristic review of the following component: [Calendar: Date picker example](http://wet-boew.github.io/v4.0-ci/demos/datepicker/datepicker-en.html).
## Performing a h

[2013-12-19 16:19] thomasgohard opened #18 "Tracking of heuristic evaluations"
Check a component once a minimum of three independent evaluations have been performed.

**Note:** (M) indicates that the interface is dependant on the core device or platform components (ex. keyboards, dropdown rendering etc). These components may require additional testing on platforms such as iOS, Android, Blackberry.
## Priority components
- [x] [Tabbed Interface](https://github.com/wet-boew/we

[2014-01-07 15:40] rubinahaddad opened #20 "Heuristic evaluation - Small & medium view fly-out menu (Megamenu equivalent)"
Please perform a heuristic review of the following component: [Small & medium view fly-out menu (Megamenu equivalent) example](http://wet-boew.github.io/v4.0-ci/demos/menu/menu-en.html).
## Performing a heuristic evaluation
1. Post a comment on this issue indicating that you will perform a heuristic evaluation of the component. If you see that at least three people have already indicated that they

[2014-01-07 15:50] rubinahaddad opened #21 "Heuristic evaluation - Tabbed Interface"
Please perform a heuristic review of the following component: [Tabbed Interface example](http://wet-boew.github.io/v4.0-ci/demos/tabs/tabs-en.html).
## Performing a heuristic evaluation
1. Post a comment on this issue indicating that you will perform a heuristic evaluation of the component. If you see that at least three people have already indicated that they are performing a heuristic evaluation

[2014-01-08 19:44] rubinahaddad opened #23 "Heuristic evaluation - Badges"
Please perform a heuristic review of the following component: [Badges example](http://wet-boew.github.io/wet-boew-styleguide/new/design/badges-en.html).
## Performing a heuristic evaluation
1. Post a comment on this issue indicating that you will perform a heuristic evaluation of the component. If you see that at least three people have already indicated that they are performing a heuristic evalua

[2014-01-08 19:46] rubinahaddad opened #24 "Heuristic evaluation - Pagination"
Please perform a heuristic review of the following component: [Pagination example](http://wet-boew.github.io/wet-boew-styleguide/new/design/pagination-en.html).
## Performing a heuristic evaluation
1. Post a comment on this issue indicating that you will perform a heuristic evaluation of the component. If you see that at least three people have already indicated that they are performing a heuristi

[2014-01-08 19:48] rubinahaddad opened #25 "Heuristic evaluation - Links"
Please perform a heuristic review of the following component: [Links example](http://wet-boew.github.io/wet-boew-styleguide/new/design/links-en.html).
## Performing a heuristic evaluation
1. Post a comment on this issue indicating that you will perform a heuristic evaluation of the component. If you see that at least three people have already indicated that they are performing a heuristic evaluati

[2014-01-08 19:49] rubinahaddad opened #26 "Heuristic evaluation - Buttons"
Please perform a heuristic review of the following component: [Buttons example](http://wet-boew.github.io/wet-boew-styleguide/new/design/buttons-en.html). **_For the button dropdowns please see the working examples from bootstrap: [http://getbootstrap.com/components/#btn-dropdowns](http://getbootstrap.com/components/#btn-dropdowns)**_
## Performing a heuristic evaluation
1. Post a comment on this

[2014-01-08 19:53] rubinahaddad opened #27 "Heuristic evaluation - Images"
Please perform a heuristic review of the following component: [Images example](http://wet-boew.github.io/wet-boew-styleguide/new/design/images-en.html).
## Performing a heuristic evaluation
1. Post a comment on this issue indicating that you will perform a heuristic evaluation of the component. If you see that at least three people have already indicated that they are performing a heuristic evalua

[2014-01-08 19:58] rubinahaddad opened #28 "Heuristic evaluation - Mandatory fields"
**_Note: This interface is dependant on the core device or platform components (ex. keyboards, dropdown rendering etc). This component may require additional testing on platforms such as iOS, Android, Blackberry.**_

Please perform a heuristic review of the following component: [Mandatory fields example](http://wet-boew.github.io/v4.0-ci/demos/formvalid/formvalid-en.html).
## Performing a heuristi

[2014-01-08 20:00] rubinahaddad opened #29 "Heuristic evaluation - Short forms"
**_Note: This interface is dependant on the core device or platform components (ex. keyboards, dropdown rendering etc). This component may require additional testing on platforms such as iOS, Android, Blackberry.**_

Please perform a heuristic review of the following component: [Short forms example](http://wet-boew.github.io/wet-boew-styleguide/v4/design/forms-en.html).
## Performing a heuristic e

[2014-01-08 20:02] rubinahaddad opened #30 "Heuristic evaluation - Message boxes/alerts"
Please perform a heuristic review of the following component: [Message boxes/alerts example](http://wet-boew.github.io/wet-boew-styleguide/new/design/alerts-en.html).
## Performing a heuristic evaluation
1. Post a comment on this issue indicating that you will perform a heuristic evaluation of the component. If you see that at least three people have already indicated that they are performing a he

[2014-01-08 20:07] rubinahaddad opened #31 "Heuristic evaluation - Panels"
Please perform a heuristic review of the following component: [Panels example](http://wet-boew.github.io/wet-boew-styleguide/new/design/panels-en.html).
## Performing a heuristic evaluation
1. Post a comment on this issue indicating that you will perform a heuristic evaluation of the component. If you see that at least three people have already indicated that they are performing a heuristic evalua

[2014-01-09 20:41] rubinahaddad opened #33 "Heuristic evaluation - Search results"
Please perform a heuristic review of the following component: [Search results example](http://search.gc.ca/rGs/s_r?st=s&s5bm3ts21rch=x&num=10&st1rt=0&langs=eng&cdn=canada&q=grants).
## Performing a heuristic evaluation
1. Post a comment on this issue indicating that you will perform a heuristic evaluation of the component. If you see that at least three people have already indicated that they are

[2014-01-09 20:43] rubinahaddad opened #34 "Heuristic evaluation - Breadcrumbs"
Please perform a heuristic review of the following component: [Breadcrumbs example](http://www.canada.ca/en/gov/system/executive.html).
## Performing a heuristic evaluation
1. Post a comment on this issue indicating that you will perform a heuristic evaluation of the component. If you see that at least three people have already indicated that they are performing a heuristic evaluation, consider re

[2014-01-09 20:47] rubinahaddad opened #35 "Heuristic evaluation - Language selector"
**_Please note that this will need to be a language selector for more than 2 languages as well**_

Please perform a heuristic review of the following component: [Language selector example](http://www.canada.ca/en/index.html).
## Performing a heuristic evaluation
1. Post a comment on this issue indicating that you will perform a heuristic evaluation of the component. If you see that at least three

[2014-01-09 20:51] rubinahaddad opened #36 "Heuristic evaluation - Table of contents (within page links)"
Please perform a heuristic review of the following component: [Table of contents (within page links) example 1](http://wet-boew.github.io/wet-boew-styleguide/new/design/colour-en.html) and [Table of contents (within page links) example 2](http://www.healthycanadians.gc.ca/health-sante/donation-contribution-eng.php).
## Performing a heuristic evaluation
1. Post a comment on this issue indicating th

[2014-01-10 20:03] rubinahaddad opened #37 "Heuristic evaluation - Tabbed Interface with slide-horz"
Please perform a heuristic review of the following component: [Tabbed Interface with slide-horz example](http://www.cic.gc.ca/english/games/museum/1.asp).
## Performing a heuristic evaluation
1. Post a comment on this issue indicating that you will perform a heuristic evaluation of the component. If you see that at least three people have already indicated that they are performing a heuristic eval

[2014-01-10 20:04] rubinahaddad opened #38 "Heuristic evaluation - Country specific content"
Please perform a heuristic review of the following component: [Country specific content example](http://wet-boew.github.io/v4.0-ci/demos/country-content/country-content-en.html).
## Performing a heuristic evaluation
1. Post a comment on this issue indicating that you will perform a heuristic evaluation of the component. If you see that at least three people have already indicated that they are per

[2014-01-16 18:55] nschonni opened #40 "Pages all use "Untitled Document" as title"
Currently all pages use an unrelated title element

[code]

[2014-01-20 13:26] mself084 opened #41 "Page length"
Hi all,

Are there any resources and/or standards on document length in the WET templates? We have lots of 300-600+ page documents on our site... at what point do you split them into multiple pages (ie every 100th Word document page = a new HTML page)?

Thanks!
- Mike.

[2014-01-20 19:30] #30 closed, assigned to nobody

[2014-01-21 21:37] #38 closed, assigned to nobody

[2014-01-23 15:00] crochefort opened #42 "Page for V4 are not working with IE8"
Quick example is the Grid page!

http://wet-boew.github.io/wet-boew-styleguide/new/design/grids-en.html

all of the Stacked-to-horizontal is one on each other while they are suppose to be side by side!

[2014-01-23 18:41] #42 closed, assigned to nobody

[2014-01-23 20:38] MaryBethBaker opened #43 "Small correction needed"
On this page:
http://wet-boew.github.io/wet-boew/demos/grids/grid-other-en.html#badges

The text under the heading badges should read:
Badges draw attention to ~~a some~~ keyword trigger text and help users follow information scent within a page for related and adjacent content.

// cc @cfarquharson

[2014-01-24 19:02] rubinahaddad opened #45 "Heuristic evaluation - Pills"
Please perform a heuristic review of the following component: [Pills example](http://wet-boew.github.io/wet-boew-styleguide/new/design/pills-en.html).
## Performing a heuristic evaluation
1. Post a comment on this issue indicating that you will perform a heuristic evaluation of the component. If you see that at least three people have already indicated that they are performing a heuristic evaluati

[2014-01-24 19:03] rubinahaddad opened #46 "Heuristic evaluation - Labels"
Please perform a heuristic review of the following component: [Labels example](http://wet-boew.github.io/wet-boew-styleguide/new/design/labels-en.html).
## Performing a heuristic evaluation
1. Post a comment on this issue indicating that you will perform a heuristic evaluation of the component. If you see that at least three people have already indicated that they are performing a heuristic evalua

[2014-01-27 20:50] #34 closed, assigned to nobody

[2014-01-27 21:29] nschonni opened #48 "Setup Jekyll templates for GitHub pages automagic compilation"
Prose.io could be used to make the experience friendly to those that don't like git.
@pjackson28 already has https://github.com/wet-boew/wet-boew-jekyll working with this combination.

[2014-01-30 16:28] MBlondin opened #49 "WET 4.0 Mega Menu"
With WET 4.0, will the top menu no longuer be a Mega Menu and become, as demo'ed, a single level menu

[2014-01-30 16:28] #13 closed, assigned to nobody

[2014-01-31 15:06] #8 closed, assigned to nobody

[2014-02-05 17:19] thomasgohard opened #56 "Travis build fails on all PRs"
Every PR with changes to the style guide fails with: `Error pushing to gh-pages`.

[2014-02-06 15:46] #56 closed, assigned to nobody

[2014-02-07 16:31] cfarquharson opened #58 "Icon for 'Design guide'"
The style guide, as it is now, has 4 areas:
- Design guide
- Accessibility guide
- Usability guide
- Writing guide

We need an icon the represent the Design guide.  Please advise which is best:

CODE
![design6](https://f.cloud.github.com/assets/2319199/2114337/97b092ba-903b-11e3-8f86-d54741b87d4c.JPG)

PICTURE/DRAWING
![design1](https://f.cloud.github.com/assets/2319199/2111697/dff339a0-9014-11e3-

[2014-02-11 19:51] rubinahaddad opened #60 "HE summary - Form validation"
This is the summary of key improvements for the [form validation heuristic evaluations](https://github.com/wet-boew/wet-boew-styleguide/issues/8). Please comment on this issue if there is something you don't agree with.

cc/ @patlaj @JasonSa @Robin-Lang
### Summary of key improvements
1. Use the [messages css (error version)](https://github.com/wet-boew/wet-boew-styleguide/issues/61) for the listi

[2014-02-11 19:57] rubinahaddad opened #61 "HE summary - Message boxes/alerts"
This is the summary of key improvements for the [message boxes/alerts heuristic evaluations](https://github.com/wet-boew/wet-boew-styleguide/issues/30). Please comment on this issue if you agree or if there is something you don't agree with.

cc/ @DesignbagGT @JxRath @naomihanff
### Summary of key improvements
1. Use icons in addition to colour to help distinguish the message type as an additional

[2014-02-21 14:54] #21 closed, assigned to nobody

[2014-02-21 15:14] #61 closed, assigned to nobody

[2014-02-21 15:39] #31 closed, assigned to nobody

[2014-02-25 15:12] masterbee opened #63 "Heuristics Review for Social Media and Mobile Gallery"
@cfarquharson et al,

 Just wondering if there was a Heuristics review planned for the Social Media and Mobile Gallery this round, as hinted at in a prior issue on GCWeb [https://github.com/wet-boew/GCWeb/issues/498]?

Please note also : https://github.com/wet-boew/GCWeb/issues/497 since there was an issue about sufficient information when using filters and find functions

[2014-02-25 18:43] #10 closed, assigned to nobody

[2014-02-26 18:09] nrustand92 opened #64 "Archiving Content question"
Not sure where to post question, so I just created a new issue.

@rubinahaddad @thomasgohard, are we going to combine the archive module  (http://wet-boew.github.io/wet-boew-styleguide/old/components-en.html#archive) w/ the yellow overlay?

[2014-02-26 21:33] #64 closed, assigned to nobody

[2014-02-27 19:09] thomasgohard opened #65 "Build and integration with WET theme and Web site"
cc/@nschonni

[2014-02-28 13:26] jeffdavidgordon opened #66 "Writing Guide: Website vs. web site"
In the writing guide, there are contradictory spellings of the word "website".   The correct English spelling according to Oxford is one word: website.   This is correctly used in some places, but in other place it's two words.   In particular the web terminology section is incorrectly defining it as two words.

[2014-03-02 02:44] #65 closed, assigned to nobody

[2014-03-04 16:58] bsouster opened #70 "Improper use of Blockquote documented in styleguide"
Styleguide page on Blockquote:
http://wet-boew.github.io/wet-boew-styleguide/new/design/blockquotes-en.html

W3 bug report stating that use of footer for the citation is improper citation:
https://www.w3.org/Bugs/Public/show_bug.cgi?id=13082

Example from styleguide:

&lt;blockquote&gt;
  &lt;p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.&lt;/p>
  &lt;foote

[2014-03-05 16:58] thomasgohard opened #71 "Update guidance for section (left) menu"
Section menu will display only children of the current section to support forward navigation. This will also ensure that the behaviour of the menu items is consistent across all pages.

cc/@rubinahaddad

[2014-03-08 17:57] cfarquharson opened #72 "IE8 FIP on intranet theme not working"
In IE8, the FIP item on the intranet theme isn 't working properly.  It's fine on the internet theme though
![mobile-intranet](https://f.cloud.github.com/assets/2319199/2365998/22608152-a6eb-11e3-9e6b-286695bdde14.JPG)

[2014-03-10 21:13] rubinahaddad opened #73 "Heuristic evaluation - Date picker"
Please perform a heuristic review of the following component: [Date picker example](http://wet-boew.github.io/v4.0-ci/demos/datepicker/datepicker-en.html).
## Performing a heuristic evaluation
1. Post a comment on this issue indicating that you will perform a heuristic evaluation of the component. If you see that at least three people have already indicated that they are performing a heuristic eva

[2014-03-13 16:27] shawnthompson opened #74 "Address element in HTML5"
Should we put something on this page to stop people from putting `address` elements for just any addresses in HTML page?

http://wet-boew.github.io/wet-boew-styleguide/new/writing/formatting-en.html#addresses

The standards specifically say:

http://www.w3.org/TR/html5/sections.html#the-address-element

The `address` element should only be used if the address is relevant contact information for th

[2014-03-14 04:01] #72 closed, assigned to nobody

[2014-03-14 16:02] duboisp opened #75 "Legislation - Replace element "em" by "cite" (accessibility)"
Hi,

It was brought to my attention that

As per WCAG 2.0, when coding names of Acts and legislation, the `<cite>` tag needs to be used (when providing a citation or a reference to other sources).

The `<em>` tag should only be used to indicate emphasis.

However, we noticed that the Writing Guide, [Legislation](http://wet-boew.github.io/wet-boew-styleguide/new/writing/formatting-en.html#legislati

[2014-03-15 04:35] cfarquharson opened #76 "'Related' design effect for WET4 needed"
Per the discussions about left menus etc, it came out that we need a 'Related' styled.

The relies mostly on Bootstrap but needs a minor bit of custom CSS:

[code]

We will still use the `list-unstyled` and the `btn btn-link`

[code]

![related](https://f.cloud.github.com/assets/2319199/2427617/7385d712-abfa-11e3-836a-728fb52438a9.JPG)

@pjackson28 if you want to rename .wb-related, to something e

[2014-03-17 14:39] bsouster opened #77 "Expand/collapse w/ headers"
I got the email update that we can use header levels in summary to fix the outline issues, but I think some email recipients misinterpreted the point of the email. Some seem to have taken it as "now we can have different sizes of expand/collapse".

I think it brings up a good question: Do we want expand/collapse summary text size to change depending on the header level inside of it?

[2014-03-19 16:57] pjackson28 opened #79 "Identify and explain Bootstrap overrides"
WET has made several overrides to the Bootstrap defaults such as font size, colours, label/alert design, etc. The styleguide should be identifying the changes and providing a rationale for the changes so the implementers understand what has changed and why.

[2014-03-20 15:28] #60 closed, assigned to nobody

[2014-03-20 20:49] rubinahaddad opened #80 "Button example changes to the design guide"
From the HE:  https://github.com/wet-boew/wet-boew-styleguide/issues/26

From the HEs all the reviewers were troubled by the fact that having quite so many different options for buttons was not a good strategy for developing the basis for an enterprise solution. Using more than a few of them creates inconsistencies in the product. There need to be limited opportunities for creative licence for the

[2014-03-20 21:14] rubinahaddad opened #81 "Panel design guide comments"
HE: https://github.com/wet-boew/wet-boew-styleguide/issues/31

The large number of colors shown will cause problems for enterprise level consistency. Offer less, and/or be very clear and limiting in the “Use when”/”Do not use when” specifications.

[2014-03-20 21:17] #20 closed, assigned to nobody

[2014-03-20 21:17] #46 closed, assigned to nobody

[2014-03-20 21:18] #28 closed, assigned to nobody

[2014-03-20 21:19] #24 closed, assigned to nobody

[2014-03-21 17:52] pjackson28 opened #83 "Style guide should be recommending the native progress element and not Bootstrap's version"
The style guide currently recommends using Bootstrap's markup for creating a progress bar. HTML5 already has markup dedicated to that purpose so we should not be faking it with div elements and WAI-ARIA attributes. If you want the Bootstrap look, then apply class="progress" to the progress element. We should be going with semantically correct elements first, then applying the appropriate look.

/c

[2014-03-21 17:55] pjackson28 opened #84 "Dropdown buttons are not supported by WET so need to be removed from the styleguide"
The styleguide currently demos Bootstrap dropdown buttons but those are not supported by WET. We do not include the necessary Bootstrap JavaScript nor have we made any attempt to address any accessibility issues. As a result, dropdown buttons should be dropped from the styleguide.

[2014-03-21 19:53] rubinahaddad opened #85 "Style guide - share widget guidelines"
From the HEs:
Two reviewers noted that the list of links appears flush right – which may be far from where the user clicks. That is a little unexpected, and leads to unexpected behaviour if the user starts to scroll without first moving the mouse.

Therefore the styleguide should indicate that the share widget should always be on the right to help avoid this problem

[2014-03-22 05:15] cfarquharson opened #86 "visited purple link show be white on .active items"
The .active class on the list-group should have white text, not purple.  I assume it's the :visited colour
http://wet-boew.github.io/wet-boew-styleguide/v4/design/index-en.html

![visited1](https://f.cloud.github.com/assets/2319199/2489919/f3ae0906-b180-11e3-893a-ddf6b45ff2c7.JPG)

[2014-03-22 05:30] cfarquharson opened #87 "Can't distinguish links that word wrap from those on new lines"
The style guide has been updated with the new 'Related' effect, per #76 but I noticed that links that word wrap don't have an different in vertical spacing from those on new lines.

Do we need a class that margin-bottoms lists by default?
This is what is currently happening
![link2](https://f.cloud.github.com/assets/2319199/2489964/0f5c517e-b183-11e3-849c-db1efc314e52.JPG)

@rubinahaddad @pjackson

[2014-03-24 18:25] nrustand92 opened #88 "Question--progress bar working example VS style guide"
In the working example page, it says that the polyfill is for the browsers w/out native support. How do the demo of progress bar in the style guide fit into that?

[2014-03-26 19:02] #87 closed, assigned to nobody

[2014-03-28 04:07] cfarquharson opened #89 "change mrgn-*-lg to 30px"
Currently the mrgn-tp-lg, mrgn-rght-lg, mrgn-bttm-lg and mrgn-lft-lg have a margin of 25px.  Please change that to 30px (double the -md size of 15px).

@pjackson28 @thomasgohard

[2014-03-28 04:22] #89 closed, assigned to nobody

[2014-03-28 14:16] #86 closed, assigned to nobody

[2014-03-29 02:53] #43 closed, assigned to cfarquharson

[2014-03-29 02:55] #40 closed, assigned to cfarquharson

[2014-03-29 04:28] #83 closed, assigned to cfarquharson

[2014-03-29 04:44] #84 closed, assigned to cfarquharson

[2014-03-30 02:34] pjackson28 opened #94 "Add blurb to clearly identify scope and applicability of the style guide"
The guide seems to be ambiguous regarding its scope and what it specifically applies to. There is the potential that people could interpret it to be official guidance for specific themes/sites such as Canada.ca, which it is not.

Each sub-guide should have some sort of blurb that clearly identifies that it contains community-developed recommendations targeted at WET in general and that it may not

[2014-03-30 04:06] #94 closed, assigned to nobody

[2014-03-30 14:00] #88 closed, assigned to nobody

[2014-03-30 14:03] #66 closed, assigned to nobody

[2014-03-30 14:03] #58 closed, assigned to nobody

[2014-03-30 14:04] #41 closed, assigned to nobody

[2014-03-30 14:06] #74 closed, assigned to nobody

[2014-04-09 17:15] EricDunsworth opened #100 "Content formatting page linking to CRA's intranet?"
Hey @cfarquharson,

I've noticed that the content formatting page contains several links to InfoZone (which I believe is CRA's intranet):
- https://github.com/wet-boew/wet-boew-styleguide/blob/c42aa79189a5432af736fef11e4ae9e8d77c021c/site/pages/v4/writing/formatting-en.hbs#L811
- https://github.com/wet-boew/wet-boew-styleguide/blob/c42aa79189a5432af736fef11e4ae9e8d77c021c/site/pages/v4/writing/for

[2014-04-14 04:31] jpmckinney opened #107 "Promote reflowing content to its own page"
People who already know Bootstrap are unlikely to scroll to the bottom of the [Grid](http://wet-boew.github.io/wet-boew-styleguide/v4/design/grids-en.html) page, which is mostly identical to Bootstrap's features and docs with the exception of content reflowing.

[2014-04-14 04:42] jpmckinney opened #108 "The opacity examples should not be the absolute positioning examples"
http://wet-boew.github.io/wet-boew-styleguide/v4/design/opacity-en.html#examples

[2014-04-14 14:59] jpmckinney opened #111 "Why are there two lists of plugin demos?"
- http://wet-boew.github.io/wet-boew/demos/index-en.html
- http://wet-boew.github.io/wet-boew-styleguide/v4/design/index-en.html#plugin

In https://github.com/wet-boew/wet-boew/issues/5223, @pjackson28 suggested I create an issue here.

[2014-04-14 15:42] jpmckinney opened #112 "All the guides have a broken breadcrumb link to "Working examples""
Example: http://wet-boew.github.io/wet-boew-styleguide/v4/usability/index-en.html

I figure the breadcrumb should simply omit that link.

[2014-04-16 16:10] #112 closed, assigned to nobody

[2014-04-16 16:11] #107 closed, assigned to cfarquharson

[2014-04-16 19:37] #100 closed, assigned to cfarquharson

[2014-04-17 17:46] #3 closed, assigned to nobody

[2014-04-21 20:31] jpmckinney opened #118 "Broken links in accessibility guide"
On http://wet-boew.github.io/wet-boew-styleguide/v4/accessibility/guide-en.html
- [Table Usability](http://wet-boew.github.io/wet-boew/demos/tableparser/validator-htmltable.html)
- [Table Simplification - Optimal Content Examples](http://wet-boew.github.io/wet-boew/demos/tableparser/tbl-simp-en.html)
- [non-simple tables](simpletable) (links to `simpletable`)

[2014-04-23 19:49] #9 closed, assigned to nobody

[2014-04-25 15:52] rubinahaddad opened #119 "iPhone anchor bug in design guide"
From HE: https://github.com/wet-boew/wet-boew-styleguide/issues/36

On an iPhone iOS 7/Safari,  link to a section a first time: the section header is scrolled off-screen above the visible window.
![image](https://cloud.githubusercontent.com/assets/6787302/2733878/42c65298-c64c-11e3-845c-d4af6e8d8076.png)

Scroll back to the TOC and follow the link again:  The header shows correctly.
![image](https

[2014-04-28 02:42] pjackson28 opened #120 "List columns section is missing the xxs and xl sizes"
The [List columns section](http://wet-boew.github.io/wet-boew-styleguide/v4/design/lists-en.html#columns) is missing the xxs and xl sizes.
- colcount-xxs-2
- colcount-xxs-3
- colcount-xxs-4
- colcount-xl-2
- colcount-xl-3
- colcount-xl-4

[2014-04-28 04:23] pjackson28 opened #121 "Progress bar message incorrect"
The message for the [Progress bar page](http://wet-boew.github.io/wet-boew-styleguide/v4/design/progress-en.html) is incorrect. The message should say to use the HTML5 progress element and that examples are provided in the progress polyfill working examples (since you can't use a polyfill directly, it only loads when needed).

[2014-04-29 13:32] RitchieD opened #122 "How do you manually initialize the table plug-in?"
How do you manually initialize the table plug-in?

I have a page that uses ajax to return a result table.  The main page does not have a table.  So  I need to manually initialize the table.

Documentation is unclear.
http://wet-boew.github.io/v4.0-ci/docs/ref/tables/tables-en.html

The following fails to find $elm
$elm.trigger( “wb-init.wb-inview” );

The following line does nothing.
$(document).t

[2014-04-29 14:01] #122 closed, assigned to nobody

[2014-05-01 18:46] rubinahaddad opened #123 "Design pattern for tables"
We need to outline in the table enhancement design pattern that there should never be in page pagination and table pagination on the same page as this will always confuse the user.
Stemming from the discussion on:
https://github.com/wet-boew/wet-boew/issues/5153

[2014-05-02 18:53] bmoretton opened #124 "Web 4.0.1 Templates"
I downloaded the 4.0.1 source files for the Government of Canada Web Usability templates.  When I open the content_en page in Dreamweaver in code view, it just looks like one continuous block of text with a few line breaks. Am I doing something wrong?  There's also no mega menu placeholder on the sample page.  Do I have the correct files?

[2014-05-02 19:04] #124 closed, assigned to nobody

[2014-05-05 20:26] bmoretton opened #125 "Paths Wrong"
Hi,

Can someone tell me why this page is not rendering properly: http://app.cpic-cipc.ca/English/content-en.html?

My pages are in two folders:

/English
/French

The other folders are on the same level as the above two

/ajax
/assets
/css
/demos
/docs
/fonts
/js

Should my links be ../../css or ../css?

Thx!

Brian

[2014-05-08 19:56] koozdra opened #126 "Wave Error with Orphaned Labels When Using form-control-static"
form-control-static
http://wet-boew.github.io/wet-boew-styleguide/v4/design/forms-en.html#forms-controls-static

Wave is reporting an error that the email label is an orphan because it is not associated to any form control. When we are implementing wet on our site should we use this feature or avoid it due to the accessibility error?

Thank you.

Note:
Perhaps a class that can be applied to a span

[2014-05-08 19:59] #125 closed, assigned to nobody

[2014-05-13 17:26] seanhaase opened #129 "CSS nowrap class"
Recommend adding documentation to the Style Guide for the CSS class "nowrap" as there currently is none. Even Bootstrap CSS does not contain any (http://getbootstrap.com/css/).

[2014-05-13 17:43] rubinahaddad opened #130 "Lightbox - Alternative Images example"
From HE: https://github.com/wet-boew/wet-boew-styleguide/issues/7

Alternative Image Titles not visually connected to images

Problem: Alternative Image Titles Text is disconnected from the images which could cause confusion especially if there are a large number of images.

Suggestion: Indent the text, or find some other way of creating a visible connection between the test and the image.

This n

[2014-05-13 17:44] rubinahaddad opened #131 "Lightbox - Image gallery indistinguishable from single image"
From HE: https://github.com/wet-boew/wet-boew-styleguide/issues/7

Image gallery indistinguishable from single image
Problem: An image gallery is indistinguishable from single image

Suggestion: (1) Add graphic elements to the outside of the (unopened) gallery image that suggest there are multiple objects layered there, and (2) add a tool-tip, or modify the Alt text, to make the situation plain.

[2014-05-14 16:54] rubinahaddad opened #132 "Twitter timeline - Scrolling Challenges"
See: https://github.com/wet-boew/wet-boew/issues/5434
From HE: wet-boew/wet-boew-styleguide#14

Ensure that the widget doesn't touch the right side of the screen and give some options, whether it be through grids or adding a margin. The guide could then show a couple ways of doing that (e.g., col-xs-7 or mrgn-rght-md).

[2014-05-21 18:55] rubinahaddad opened #135 "Validation not clear - Short Forms"
From HE: https://github.com/wet-boew/wet-boew-styleguide/issues/29

Problem: The visual status using colour is not sufficient. There is not enough visual feedback to indicate success or failure. In IE the 1px line color change will not be enough to be noticed. The addition of the label colour change helps, but will not be sufficient for the 20% of the population that has some form of colour blindn

[2014-05-21 19:00] rubinahaddad opened #136 "Inconsistent Button treatments - Forms"
From HE: #29

Problem: In Basic Example, the ‘Submit’ button’s visual design differs from the nearby ‘Choose File’ button and they from other buttons on the page, for no obvious reason.

Suggestion: Use consistent styling everywhere.

[2014-05-22 14:45] shoffmand opened #137 "Accessibility Guide Opinions Wanted"
I am working on improving the [Accessibility Guide](http://wet-boew.github.io/wet-boew-styleguide/v4/accessibility/index-en.html) on the WET website, adding new information and making what is there more clear.

I was wondering if anyone here had opinions on what works and what might need changing. Also, any ideas for new content would be welcome.

Thanks for your time :)

[2014-05-22 16:06] rubinahaddad opened #138 "Help text - Forms"
From HE: wet-boew/wet-boew-styleguide#29

Having help text before and after an input field is problematic from the accessibility standpoint. Screen readers don't support it that well which is why in the WET working examples we have it before the field in a label element that does not include the input element.

Make sure the examples in the design guide reflects this.

[2014-05-22 16:37] #15 closed, assigned to nobody

[2014-05-22 19:19] rubinahaddad opened #139 "Archived banner design guide requirement"
From HE: wet-boew/wet-boew-styleguide#4

We have to indicate that the archived message must be at the top of the page, to avoid scenarios such as: https://github.com/wet-boew/wet-boew/issues/5341

[2014-05-27 20:15] pjackson28 opened #140 "Is .full-width documented in the style guide?"
The .full-width class can be used to set elements to 100% width. Is it documented in the style guide? If not, it should be.

[2014-05-30 16:50] nschonni opened #142 "Merge Styleguide content back to core"
Not sure about the v4.0 since it is still being worked on, but the 3.1 version can be moved back under core's file tree.

[2014-05-30 19:38] pjackson28 opened #144 "Travis build keeps failing"
@nschonni @LaurentGoderre The Travis build keeps failing at the same place. The main issue seems to be it can't find assets-dist. As a result the style guide site is not being updated with recent changes.

[code]

[2014-06-02 21:07] #144 closed, assigned to nobody

[2014-06-04 03:25] EricDunsworth opened #149 "v4.0 AJAX mega menu fragment is missing"
I've noticed that currently, any time I load in any of the v4.0 style guide's pages in JavaScript-enabled browsers, the hardcoded WET mega menu disappears within a couple of seconds. This seems to be due to a a combination of a missing ajax fragment referenced in all `data-ajax-fetch` attributes and wet-boew/wet-boew#5533.

Example (hardcoded mega menu quickly flashes and disappears):
http://wet-b

[2014-06-11 18:46] #11 closed, assigned to nobody

[2014-06-18 16:54] neoinsight opened #153 "Search Auto-Complete Targets not working on iPhone"
@rubinahaddad @pjackson28
Multiple issues below for iPhone Users and Search in Usability Sessions
1. In usability tests with iPhone users, people were not able to use the auto-complete suggestions for search. When they tried to touch them, the menu disappeared.

See video clip for how it works, or try it yourself on an iPhone. Touch an autocomplete, menu will close.

http://www.screencast.com/t/jF

[2014-06-19 12:44] #153 closed, assigned to nobody

[2014-06-26 13:13] bsouster opened #154 "Pagination for huge page series"
@rubinahaddad

We've got some pretty large pagination bars here at CIC:
![pagin](https://cloud.githubusercontent.com/assets/1944744/3398494/8183a1f0-fd30-11e3-96da-11c401aca571.jpg)

We're wondering if we can go with pagers in this situation:
http://wet-boew.github.io/wet-boew-styleguide/v4/design/pagination-en.html#pager

Although we think that if we go with pagers, we should have a Table of Cont

[2014-06-26 16:11] Sylvie123 opened #155 "display example showing ul instead of ol"
I notice that the display example of the order lists are using the wrong element on this page:
http://wet-boew.github.io/wet-boew-styleguide/v4/design/lists-en.html
(display example showing ul instead of ol)

Should be

[code]

[2014-06-26 19:56] neoinsight opened #156 "Menu Clicks not being caught - iOS devices"
Several iOs participants seem to have to click the menu button several times before it registers. Slow the video down and you can see them. Second participant is clearly annoyed. iPad Mini user P32 mentioned it afterwards, but I can't see it in his video - would have to scan through the whole thing.

http://www.screencast.com/t/nvaVyiEX

@pjackson28
@rubinahaddad

[2014-06-26 20:00] neoinsight opened #157 "Logo not displaying"
Logo at top on page left was not displayed despite page load for 2 participants - iPad mini participant P32 on 24th noticed it because he had been using it to return to home. iPhone participant today P34 didn't notice because she was using the breadcrumbs to get home.

Video
http://www.screencast.com/t/9unbcDQGIBo

@rubinahaddad
@pjackson28

[2014-07-02 20:03] #155 closed, assigned to nobody

[2014-07-04 19:19] neoinsight opened #165 "Search field on results page shrinks on iPad during usability session"
Mobile usability testing issues - iPad participant on June 18th
@pjackson28

In this one search case, the search field not show up as full width. He was confused by this and tried to fix it, note that it still doesn't go to full size as he types. We didn't notice this happening for anyone else, so am just recording it here as a potential bug.

I should note that he searched one or two other times

[2014-07-08 15:40] #108 closed, assigned to burgvan

[2014-07-08 15:44] #120 closed, assigned to nobody

[2014-07-08 15:44] #121 closed, assigned to burgvan

[2014-07-08 18:21] #126 closed, assigned to cfarquharson

[2014-07-09 14:17] Sylvie123 opened #167 "404 error"
On this page:
http://wet-boew.github.io/wet-boew-styleguide/v4/design/links-en.html
under sub-title Description: text (user control) is 404 error.

[2014-07-10 17:22] #167 closed, assigned to nobody

[2014-07-13 19:13] neoinsight opened #174 "Dropdowns for menus not loading for Immigration pages"
@pjackson28 This issue was discovered during mobile usability testing.

Issue: Menu does not finish loading on Immigration pages - dropdowns do not appear.  In other instances, loading is delayed - menu arrows do not appear for a few seconds and cause menu navigation failures. - This issue is ONLY found with items in the Immigration menu, nowhere else.
- On MacBook Pro, Chrome (version 35.0.1916.1

[2014-07-18 18:20] Sylvie123 opened #176 "Broken links"
Under "description" are the links to  "decorative, simple, complex, or an image of text" on http://wet-boew.github.io/wet-boew-styleguide/v4/design/images-en.html suppose to go no where?
Thanks

[2014-07-22 05:24] #176 closed, assigned to nobody

[2014-07-23 17:20] Sylvie123 opened #178 "grater than sign needs to be removed"
On this page: http://wet-boew.github.io/wet-boew-styleguide/v4/design/panels-en.html
under sub-title:Mix padded content with full width content
there is an extra grater than sign in the Panel Heading

[2014-07-23 17:47] #178 closed, assigned to nobody

[2014-07-24 15:28] Sylvie123 opened #181 "Merged cells"
On page: http://wet-boew.github.io/wet-boew-styleguide/v4/design/tables-en.html
under sub-title: Bordered table and Condensed table
is there suppose to be merged cells within the tables? If yes shouldn't the table be coded using ids?
Thanks

[2014-07-25 04:00] #181 closed, assigned to nobody

[2014-07-30 06:08] #149 closed, assigned to nobody

[2014-08-01 13:25] #129 closed, assigned to nobody

[2014-08-01 18:27] #156 closed, assigned to nobody

[2014-08-01 18:28] #174 closed, assigned to nobody

[2014-08-06 13:56] sophiek4905 opened #187 "Absolute positioning - Positioning examples"
missing images in examples.

[2014-08-06 15:21] #187 closed, assigned to nobody

[2014-08-13 17:17] Pacoup opened #195 "Build: lib/jquery/bower.json not found"
I'm having trouble building WET stuff again. After doing all the npm installs and so on, I get this error when running grunt:

![error](https://cloud.githubusercontent.com/assets/112764/3909393/246171ca-230d-11e4-8bb7-f6a397910c42.png)

Looks like the Gruntfile in lib/wet-boew is using relative paths, so it ends up looking for bower.json in lib/wet-boew/lib/jquery/bower.json

If I correct the path

[2014-08-13 17:51] #195 closed, assigned to nobody

[2014-08-13 19:47] EricDunsworth opened #197 "All Supporting CSS Disappeared!?"
Some of my colleagues brought this to my attention.

As of the time of this posting, it seems like all of the style guide's supporting CSS has gone missing, which has turned the whole guide into a wall of text.

Link:
http://wet-boew.github.io/wet-boew-styleguide/v4/index-en.html

[2014-08-13 19:50] #197 closed, assigned to nobody

[2014-08-13 19:51] mhellstern opened #199 "CSS broken on WET 4.0 style guide?"
A colleague and I can no longer view any styling on the WET 4.0 style guide... I've attached a screenshot of what it looks like. It seems like the style sheet is broken? We've tried accessing it both from our personal devices and the GC network and the result is the same... not sure what happened!
We've tried accessing the main page (http://wet-boew.github.io/wet-boew-styleguide/v4/index-en.html)

[2014-08-13 19:52] #199 closed, assigned to nobody

[2014-08-18 02:16] jpmckinney opened #201 "Index of all CSS class names"
After contributing a bunch of issues and pull requests in April to improve the docs, I've finally gotten around to trying to implement wet-boew for a Library of Parliament website.

A common first task when adopting a framework is to set up the layout template with all the necessary header and footer code.

It seems the only way that the current documentation supports this is by learning by exampl

[2014-08-20 18:08] burgvan opened #202 "Heuristic Evaluation - Canada.ca's Mobile Centre"
Please perform a heuristic review of the following page:  <a href="http://www.canada.ca/en/mobile/index.html" target="_blank">Mobile Centre</a>
Also, if you’re using Internet Explorer, please make sure it is up-to-date.

The questions represent a quick and brief heuristics evaluation for the Mobile Centre gallery. The purpose of this evaluation is to provide immediate usability feedback, proper im

[2014-08-20 18:10] burgvan opened #203 "Heuristic Evaluation - Canada.ca's Social Media Gallery"
Please perform a heuristic review of the following page:  <a href="http://www.canada.ca/en/social/index.html" target="_blank">Social Media Gallery</a>
Also, if you’re using Internet Explorer, please make sure it is up-to-date.

The questions represent a quick and brief heuristics evaluation for the Social Media Gallery. The purpose of this evaluation is to provide immediate usability feedback, pro

[2014-09-11 14:20] crochefort opened #208 "Question for the list group Custom content option."
What is the opinion of the community for this option?
http://wet-boew.github.io/wet-boew-styleguide/v4/design/listgroup-en.html#custom

Would you use this for a news list or not?

For the version 4 by the way...

I'm asking this because I don't see the Zebra option for list ( ul ).

Thank you

[2014-09-16 14:45] mohamedbecha opened #209 "WET Drop down menu PROBLEM"
Hi everyone,

I did the website with wet. seems to be working well on different browsers. i received a call today saying that drop down menu is not working, user running on ie9, i have a carousel in the front page. F12 tool, ie9 mode here working well. why???
Thanks

[2014-09-18 13:40] gmyx opened #210 "Design Guide / Style Guide not translated"
This is an official government document that is referenced in many places. It is NOT translated.

I can help with the process but don't have much time to do so.

[2014-09-18 15:09] thomasgohard opened #211 "Table of contents pattern"
Moving the discussion from https://github.com/wet-boew/wet-boew/issues/4183 here as this is a style guide issue.

We need a consistent pattern for doing tables of contents within WET.

[2014-09-23 18:01] RababGomaa opened #214 "Blockquotes"
http://wet-boew.github.io/wet-boew-styleguide/v4/design/blockquotes-en.html
For straight quotes, we recommend a &lt;p&gt;.

Do you mean &lt;q&gt; instead of &lt;p&gt; e.g. For straight quotes, we recommend a &lt;q&gt;.?

[2014-09-23 19:26] #214 closed, assigned to nobody

[2014-09-23 19:53] mohamedbecha opened #216 "How to upgrade from v4.0.2 to v4.0.5?"
Hi all,
How can i upgrade my intranet from v4.0.2 to v4.0.5?
Should i download all the project and rebuilt it or just the css and js big files.
Thx

[2014-09-23 20:07] #216 closed, assigned to nobody

[2014-09-24 13:32] mohamedbecha opened #218 "v4.0.6 download"
Hi,
I'm not able to download the new version. the link is broken. help plz
Thx

[2014-09-24 13:42] #218 closed, assigned to nobody

[2014-09-25 17:07] mohamedbecha opened #219 "Tabbed Interface second event"
Hi,
Its about Tabbed Interface today.
When you click a tab, it becomes active
I want to trigger another event when that tab is clicked. So the click will make the tab active and do something else.  I need that selector...

$("#?????").click(function() {
      alert("ok");
});

any help
Thank you

[2014-09-25 17:19] #219 closed, assigned to nobody

[2014-09-25 20:03] #209 closed, assigned to nobody

[2014-09-29 19:59] thomasgohard opened #220 "WET 3.1 style guide"
Where should the WET 3.1 style guide be archived?

Now that WET 3.1 is no longer supported, the WET 3.1 style guide no longer belongs in this repository.

[2014-10-03 18:29] neoinsight opened #222 "Details/Summary Polyfill widget not perceived as clickable"
Recent usability tests of this widget on a CIC page confirmed something we had seen in mobile participants in the June testing. People overlook these detail/summary items and use other actionable page objects because the expand/collapse items do not appear to be actionable. In fact, in this round of testing, one of the participants slides her cursor over them in frustration and says "These aren't

[2014-10-06 13:16] ghost opened #223 "WET 3 to WET 4 migration"
Is there a style map or any other guidelines on migrating a website from WET 3 to WET 4?

Thank you very much

[2014-10-12 01:10] tcma777 opened #224 "Margin proximity typo"
A typo at http://wet-boew.github.io/wet-boew-styleguide/v4/design/proximity-en.html
"Increase of decrease the proxmity"
is actually
"Increase or decrease the proximity"

[2014-10-12 01:16] tcma777 opened #225 "Demo of all design features for "Upper roman" has a display bug"
Demo of all design features for "Upper roman" at url
http://wet-boew.github.io/wet-boew-styleguide/v4/design/options-en.html
has a display bug.
"A. Item" is actually "I. Item"
"B. Item" is actually "II. Item"
"C. Item" is actually "III. Item"
etc

[2014-10-13 02:52] tcma777 opened #226 "Design guide, Colour typo"
Design guide,  Colour has typo at url
http://wet-boew.github.io/wet-boew-styleguide/v4/design/colour-en.html
dangeer
is really
danger

[2014-10-14 13:42] #224 closed, assigned to nobody

[2014-10-14 13:42] #225 closed, assigned to nobody

[2014-10-14 13:42] #226 closed, assigned to nobody

[2014-10-24 11:49] Sylvie123 opened #229 "Question on Badge font size"
Hello,
I was just wondering why the need to have a font-size: 14px; on the badge?
Thank you

[2014-10-24 17:57] Sylvie123 opened #230 "forced page break in stylesheet"
Hello,
Would it be possible to add a class to the stylesheet that would force a page brake when printing?
Thank you
Sylvie

[2014-10-28 15:34] Bgolden67 opened #231 "example error for panels"
incase this hasn't been caught, on the example for Panels with a footer, there is a misplaced `</div>`

[code]

should be

[code]

[2014-10-28 16:17] #231 closed, assigned to thomasgohard

[2014-11-18 19:15] Wenifred opened #233 "Jumbotron background"
Is it possible to allow the jumbotron to support the background colours so everything is not always grey? (Background colours such as bg-info class)

[2014-11-20 18:49] #233 closed, assigned to nobody

[2014-12-17 18:06] shawnthompson opened #235 "Design guide: Forms: .form-controls"
In [bootstrap](http://getbootstrap.com/css/#forms-controls), the `.form-control` class is set to 100%

but in WET we set it to:

[code]

Curious why we are doing this. I need to add the `.full-width` for a textarea to but larger.

[2014-12-24 15:46] neoinsight opened #236 "Form Validation - Fieldset horizontal rule perceptual break"
@thomasgohard
In a heuristic evaluation of a department's WET form implementation, we noticed the horizontal rule below the Fieldset legend text visually separates the Fieldset legend from the fields below. In usability testing, we have seen this cause users to think a fieldset-type heading was not related to the fields below, but rather to the fields above it.

Would like to recommend that the fi

[2014-12-24 19:04] #236 closed, assigned to thomasgohard

[2015-01-26 15:59] #49 closed

[2015-01-26 16:03] MBlondin opened #237 "Sign in/Sign out button and My Profile button Dropdown location"
With WET 4.1, where is/will the Sing in/Sign out button and Account settings button located
(image is from WET 3.1)
![image](https://cloud.githubusercontent.com/assets/1737991/5902721/cec22e2e-a54a-11e4-9784-b3eb679c1445.png)

[2015-01-26 17:26] neoinsight commented on #237
@thomasgohard had pointed me to this pattern in progress earlier this month: https://github.com/wet-boew/wet-boew/issues/6232

[2015-01-26 17:47] neoinsight opened #238 "Responsive breadcrumbs?"
@thomasgohard @pcwsmith
 Was doing user needs research with Mariners last week - many say they use smartphones to check weather from the bridge. We looked at them there, and noticed that what they see highlights an issue with the breadcrumbs on Canada.ca as the site has grown deeper.

What's happening is that for example, on the local forecast pages, and on the Marine forecasts, the breadcrumbs an

[2015-01-26 18:15] LaurentGoderre commented on #238
It also begs the question, does everything need to be in the breadcrumb.... For example, I think that in this case, Marine and Atlantic Labrador should not necessarily be part of the breadcrumb.

[2015-01-26 18:19] thomasgohard commented on #238
Taking the name of the current page out of the breadcrumb could also be something to consider. As would be using a smaller font size, since the breadcrumb is not primary content.

@pcwsmith what about using the IA spec to identify pages where this would be a issue to get an idea of the scope of the problem?

[2015-01-26 18:20] MBlondin commented on #237
@neoinsight Thank you Lisa. @thomasgohard is this reference https://github.com/wet-boew/wet-boew/issues/6232 the official Sing in /Sign Out style as of WET 4?

[2015-01-26 18:32] neoinsight commented on #238
Actually, @LaurentGoderre, Marine and Atlantic-Labrador are the most useful parts of the breadcrumb because they both lead to 'contiguous' tasks -like the forecast for the area your ship will head into, and the wave models etc. Sadly, they can't get to everything they need from the actual forecast page. Generally, it's the last and second-last items that are most frequently used in a breadcrumb.

[2015-01-26 18:37] LaurentGoderre commented on #238
@neoinsight the weather information does not necessarily need to be divided into marine etc. Redesigning the content of this section could help streamline the breadcrumb and navigation as a whole.

[2015-01-26 18:41] LaurentGoderre commented on #238
Also, the breadcrumb does not necessity need go back in the history in a granular way if navigating forward is easy. For example, if you can easily go to the Belle Isle Bank page from the Marine Forecast, why need the Atlantic Labrador page

[2015-01-26 18:47] neoinsight commented on #238
@LaurentGoderre Totally agree that redesigning to meet people's needs (in this case, mariners) would make breadcrumbs and navigation much more streamlined! Would love to see that happen and am talking to some folks at Environment Canada about it, but in the meantime, I was just using it as an example of why we'll need responsive breadcrumbs as sites get deeper and deeper.

[2015-01-26 18:55] LaurentGoderre commented on #238
Yeah I know, sorry for the side track. I would not mind the ellipsis personally

[2015-01-26 23:09] shawnthompson commented on #238
I hate that I'm saying this but wouldn't details / summary be a good semantic option here?

[2015-01-26 23:22] LaurentGoderre commented on #238
Not sure if it can be used because we still need to have part of it visible

[2015-01-27 16:35] neoinsight commented on #238
@shawnthompson You're right, in theory this is an 'expand' function, but as Laurent says, we need part of the breadcrumb visible and individually clickable, which Details/Summary is not. When you click Details Summary, it just opens. But when I click on a breadcrumb item, I'm navigating. Plus the whole arrow thing just doesn't follow breadcrumb conventions. The elipse does..

[2015-01-27 16:50] pcwsmith commented on #238
Sorry late to the party here - the admittedly massive Canada.ca Spec currently includes a couple of measures to limit breadcrumb length:

- dropping the generic "all services" link as it doesnt really add any value
- use of short forms for theme names (e.g. Business instead of Business and industry)- up to the Environment & NR theme lead to determine what their short from would be
- elimination of

[2015-01-27 16:54] pcwsmith commented on #238
looping in @dk-tbs

[2015-01-27 17:09] neoinsight commented on #238
@pcwsmith Agree except that I think the current page should only be removed from the crumb trail on small screens. I know it's redundant because the page title is right below, but it IS the convention, and its the convention because it helps the non-web-savvy understand exactly what the point of the breadcrumb is.  But on small screens, the price for that redundancy is too high. On large screens,

[2015-01-27 17:15] neoinsight commented on #238
@pcwsmith On further reflection, I notice that gov.uk leaves the current page off the crumb trail on all screen sizes. And they've done whacks of testing. I've never really seen it make any difference either way, so ignore my previous comment. I'll just go with 'Agree'.

[2015-02-18 15:49] #70 closed

[2015-02-18 15:57] sviens commented on #75
Doing some housekeeping. Can this issue be closed?
cc/ @duboisp @pjackson28 @cfarquharson @davidasselin

[2015-02-18 16:08] sviens commented on #76
Housekeeping question: can this issue be closed?
cc/ @cfarquharson @rubinahaddad @shawnthompson @burgvan

[2015-02-18 16:10] sviens commented on #77
Housekeeping: can this issue be closed?
cc/ @bsouster @rubinahaddad @LaurentGoderre @pjackson28

[2015-02-18 16:50] shawnthompson commented on #76
I'm ok to close this, I've changed my way of thinking to use more classes for margin than to modify existing module classes.

[2015-02-18 17:36] Wenifred commented on #75
The latest WET (v4.0.11) renders the `<cite>` element in italics.
It's a change in Bootstrap: https://github.com/twbs/bootstrap/commit/9677c95d83f361b7c3a43e56ef89590305c84905

Do we still code it like: `<cite><i>Income Tax Act</i></cite>`
What about if it is an author and not a publication, act..etc.?

[2015-02-20 13:24] neoinsight commented on #222
@pjackson28 Can you explain about headings in the details/summary? Because we've just done more testing of Canada.ca pages, and once again, most people did not use the element, said later they hadn't noticed it (because they were looking for something to click) and another participant mentioned "well it didn't look like something I could click - it wasn't highlighted". Are you saying I could mark

[2015-02-20 16:17] sviens commented on #137
@shoffmand I'm thinking of changing the [Accessibility Guide](http://wet-boew.github.io/wet-boew-styleguide/v4/accessibility/index-en.html) in the following ways:
* Taking the table of contents from the [Requirements guide](http://wet-boew.github.io/wet-boew-styleguide/v4/accessibility/guide-en.html), and dumping it onto the main page of the [Accessibility Guide](http://wet-boew.github.io/wet-boew

[2015-02-20 16:55] pjackson28 commented on #222
@goodnight Yes, you can now use heading markup in the summary element and could style it with CSS to make it look more clickable. We should be careful about applying global styles though since details/summary are used in the mobile panel, in the toggle accordion and for the tabbed interface (particularly in mobile view). Would be good to identify in what cases the styling should change so we can t

[2015-03-03 18:18] Grim-GH opened #241 "HELP? - Menu Plugin :: Having an issue on mouseover"
Background, I'm an accidental WebDev building an internal app. Using newest WET and ASP.

Issue: I have the menu loaded properly, shows the chevron for the sub menu and the menu loads properly when I click the parent object. As soon as I mouse over the child objects in the sub menu it disappears on mouse over.

Sidenote that's probably important: I'm building the menu structure(`<nav><div><ul><li>

[2015-03-03 18:35] LaurentGoderre commented on #241
Few things you should fix. First, you are using the `lore` id twice. The ID needs to be unique for each submenu. Second, the Sub1 and Administration a element need to have an `href` attribute that links to the submenu (the new unique id which replace the `lore` id)

You should also encode the ampersands in your querystring because they cause a syntax error in HTML

[2015-03-03 18:36] LaurentGoderre commented on #241
In the future, could you please open support request to the main project repository? https://github.com/wet-boew/wet-boew

[2015-03-03 18:47] Grim-GH commented on #241
AH...thanks Laurent. Will go hack at that and add that logic.
As for this thread, sorry about that. Got lost in the links after trying to create my account on Github. Ended up here.

[2015-03-03 19:32] LaurentGoderre commented on #241
Absolutely no problem. I was just saying that because you probably can get quicker response there.

[2015-03-03 19:56] Grim-GH commented on #241
Continued here: https://github.com/wet-boew/wet-boew/issues/6591

[2015-03-04 13:39] Grim-GH commented on #241
Closing this thread

[2015-03-04 13:39] #241 closed

[2015-03-05 15:14] DK-TBS commented on #222
Agreed, Mr @pjackson28.  No need to add underlining to the component when it's used in the mobile nav panel, users seem to understand it just fine in that context.

But pretty much any time the details/summary thing is employed in the content area of a page, we should get the underline in to help users recognize it.  This would include cases where it's working as a toggle accordion, or when it's p

[2015-03-05 15:27] pjackson28 commented on #222
@DK-TBS I would caution against applying underlining to the tabbed interface in mobile view, that will end up being a lot of lines since the details/summary are already each encased in a box (which would mean three horizontal lines in close proximity). Different for the regular accordion (in the Toggle example) and the normal details/summary which don't have the box.

So it is important that we be

[2015-03-05 15:44] neoinsight commented on #222
@DK-TBS @pjackson28 I am running mobile and desktop participants next week on the test form, and for that test, I have underlined the details/summary item on the first page of the form. You can see it here: http://thomasgohard.github.io/web-form-validation-test/index-en.html

I'm not up to finessing any of the code to make the underlining not appear in mobile view - and am only using the normal de

[2015-03-05 15:52] pjackson28 commented on #222
If you are looking for examples with the boxes, then see the tabbed interface working examples in mobile view (so less than 992px width). http://wet-boew.github.io/v4.0-ci/demos/tabs/tabs-en.html. That looks much more like a traditional accordion than the Toggle accordion does.

If the tabbed interface boxed approach works, then perhaps a solution for the toggle accordion would be to provide a cla

[2015-03-05 16:12] DK-TBS commented on #222
Hmm, I see your point about the boxes, @pjackson28... they definitely do seem to help a lot, and adding underlines probably will clutter things up visually in there.

Hey Lisa @neoinsight, what do you think?  I've seen you point to a number of problematic examples of the details/summary component, but I don't think any of them were presented in boxes.  When tabbed interfaces are rendered in mobile

[2015-03-05 16:48] neoinsight commented on #222
Just looked at the tabbed example. Agree that an accordion is an accordion, even if it is used by itself. And yes, I think the boxes may help, although am worried people are focused on looking for linked words.
Let's try it in the @thomasgohard test form, instead of the underlining that I added.  Or what I would really like to do is compare. So if someone can add a copy of the current details/summ

[2015-03-09 13:14] neoinsight commented on #222
Here is what we are testing  http://thomasgohard.github.io/web-form-validation-test/index-en.html @thomasgohard and I implemented it last night.
There are two details/summary components in a row for the last question. One has a box, one is underlined.
@pjackson28 I assume this is what you meant about a boxed approach?

@pcwsmith The experimental design is to see whether people skip past the box an

[2015-03-09 13:38] pjackson28 commented on #222
@neoinsight I was meaning the accordion-style boxes used by the tabbed interface mobile view (see attached image)
![accordion](https://cloud.githubusercontent.com/assets/1326498/6555877/c10c5ad2-c63f-11e4-8fd6-49acca3c39f4.jpg)

The "boxed" example you are using for testing seems to be a "collapsible alert".

[2015-03-09 16:56] neoinsight commented on #222
@pjackson28 Yes, it is a collapsible alert, as mentioned, I had to start with something easy to implement. The other thing is that much of the time, the details/summary is only used in situations where there is only one of them,not a list.
But if @LaurentGoderre could change the custom CSS that @thomasgohard created late last night to make it look more like your example above, that would be great.

[2015-03-19 16:23] thomasgohard commented on #137
@sviens I've merged your changes. It looks like a good start.

I'm wondering if a code sprint on the accessibility guide would be worthwhile? There's still a lot of work to do there.

[2015-03-23 15:44] sviens commented on #137
@thomasgohard Thanks!
Great idea re: the code sprint - the accessibility guide does need some love and care.

[2015-03-23 18:09] thomasgohard commented on #137
@sviens would you be able to help plan something for a code sprint in the next few weeks?
cc @zachfalsetto

[2015-03-23 18:11] LaurentGoderre commented on #137
Next week's codesprint is in Kanata so it might need to wait until the week after.

[2015-04-01 18:38] nrustand92 commented on #222
@neoinsight @pjackson28 @thomasgohard @LaurentGoderre any opinion on +/- rather than arrow? I feel like something like this has been suggested in the past, just can't seem to find the issue.
![expandcollapse](https://cloud.githubusercontent.com/assets/5949078/6948545/937cb7b6-d87c-11e4-8120-1426a8d3f76b.png)

[2015-04-01 20:05] LaurentGoderre commented on #222
I was wondering the same today

[2015-04-01 20:07] pjackson28 commented on #222
@neoinsight The issue is that HTML5 and the native browser support use the arrow and not +/-. If we want to make such a change, then it should be addressed with HTML5 and the browsers and not just by us forcing complicated overrides to the native support in browsers.

[2015-04-01 20:26] neoinsight commented on #222
@nrustand92 While that might help reduce the perception of the arrow as a 'bullet', I don't think it would help with overall 'clickability' as people scan. Because it doesn't look actionable, they don't even read it. It needs to look more like a button or link.

[2015-04-01 20:51] nrustand92 commented on #222
@pjackson28  thanks for the insight

@neoinsight I just need a bit of clarification b/c I recall you mentioning it looking like a button in the meeting earlier today.  If the arrow/plus/minus sign (whatever the icon is) looks like a button + you underline the sentence so it looks like a link, that would be a potentially good solution?  Just double-checking to see if I understand you correctly, tha

[2015-04-01 21:00] nrustand92 commented on #222
Something like this (box around the icon: my attempt to make it look like a button, but I'm sure there's a better way to present that):

![expandcollapsebuttonlink](https://cloud.githubusercontent.com/assets/5949078/6952521/804e6478-d890-11e4-90c7-8ae0b13812a5.png)

[2015-04-01 21:06] thomasgohard commented on #222
@nrustand92 I think it would be best to make the entire summary element look like a button. When just making the arrow part look like a button it looks like a "play" button.

[2015-04-01 21:17] nrustand92 commented on #222
@thomasgohard got it.  Yeah, that was just a quick and dirty mockup.

[2015-04-01 21:23] pcwsmith commented on #222
Styling the entire details/summary element as a button would work in situations where there's only one, but when there are two or more then I'm thinking no to the button idea. Don't want a bunch of buttons stacked together.

BTW I re-read our guidance around buttons in the spec, and it kinda feels like it'd preclude styling the details/summary element in this manner? Basically buttons are intended

[2015-04-01 21:44] neoinsight commented on #222
@pcwsmith All very good points. It should be used for supplementary secondary stuff that only 20% of people need to see, not 80%.

The danged thing is people are using it in cases where they NEED to click that one thing - the guidance would suggest the designers should display a button instead.

So we should focus on making it look clickable for the 20%, not the 80. And you're right, not TOO click

[2015-04-02 16:45] thomasgohard commented on #222
The visual treatment I was thinking of was something similar to what they did on the TBS policy suite: http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=12453 (which is another example of a use case where the detail/summary should be avoided).

[2015-04-02 16:50] neoinsight commented on #222
Yes that looks helpful. You thinking of an icon too like that? Prefer down carets like at top of thread.

Sent from my iPhone

[2015-04-02 17:42] thomasgohard commented on #222
As I understand it, the icon cannot be modified using CSS. Is that correct @LaurentGoderre?

[2015-04-02 18:02] pjackson28 commented on #222
@thomasgohard It wouldn't be an issue if you put it on the right like TBS did with the link icon (left for RTL) as you aren't overriding anything (just adding). I didn't see a double down caret in the Glyphicons but there is a single down caret (<code>glyphicon-menu-down</code> http://getbootstrap.com/components/).

[2015-04-02 18:05] pjackson28 commented on #222
The <code>glyphicon-chevron-down</code> glyphicon could pass as a single down caret as well (it is also what we use for the topic menu).

[2015-04-02 19:08] thomasgohard commented on #222
@pjackson28 I think that it will be the icon on the left that matters when the user is scanning the page.

@neoinsight what do you think? Could an additional icon on the right convey clickability?

[2015-04-02 21:42] neoinsight commented on #222
Yes, I think that the icon on the right would help convey clickability.

[2015-04-03 23:03] thomasgohard commented on #222
Let's try it then. I'll get a pull request ready with the changes.

So I can prioritise, when's the next round of testing?

[2015-04-08 19:14] DK-TBS opened #242 "Accordions for really long table of contents pages"
Hi @thomasgohard!    [You mentioned](https://github.com/wet-boew/wet-boew-styleguide/issues/222%23issuecomment-88589568#issuecomment-88970911) in another thread that the TBS should have avoided using details/summary for grouping together parts of [their table of contents page] (http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=12453).  Would you mind expanding on that a bit for me?

We’re working on pu

[2015-04-08 20:25] DK-TBS opened #243 "Tabbed elements in mobile view: open or closed by default?"
Hi Lisa @neoinsight!  Hi Thomas @thomasgohard!  The ongoing thread about the details/summary widget brings to mind something else I’ve been meaning to talk to you two about.

The tabbed interface element works well, in general - everybody understands it.  But I’m concerned about how it renders sometimes in mobile views, and I’m wondering what we might be able to do to fix it.

Two examples:  if yo

[2015-04-08 20:49] thomasgohard commented on #242
That TBS page is not a table of contents page, but a content page. What is contained within the group of details/summary elements are the primary contents of the page.

From the HTML spec:
<blockquote>
<p>The details element represents a disclosure widget from which the user can obtain additional information or controls.</p>
<cite>&mdash;&nbsp;<a href="http://www.w3.org/html/wg/drafts/html/master/

[2015-04-08 21:09] thomasgohard commented on #243
The departments and agencies page is showing the same list in two different sorting orders. I'm not sure that tabs are the right solution here as it forces duplicating the list in the content.

I'm also not sure that "By ministerial portfolio" will mean anything to most Canadians. That seems very organisation-centric. "By topic" (e.g., banking, business, transportation), or something like that, wo

[2015-04-08 21:28] neoinsight commented on #243
@thomasgohard - that's a good point about tabs for Departments and Agencies. I hadn't realized it was the same stuff in a different order. Agree that is not a good use case for tabs. Sounds like a sortable wet table would be a better option.

But on to @DK-TBS question, this is a concern, I agree. We briefly discussed at CIAWG last week with @pcwsmith. We did see mobile participants use the Countr

[2015-04-09 15:14] DK-TBS commented on #243
I agree, I’ve always hated the “by ministerial portfolio” label, it’s miserable.  But I’m not sure I’m convinced that the two lists are truly just different sortings… the a-z is definitely a straight-up sorted list of all depts, but the other one is divided into groups, helping to make things more meaningful.  The groups tell users, for example, that “Registry of the Specific Claims Tribunal of Ca

[2015-04-09 15:18] DK-TBS commented on #242
I can agree that the details & summary elements aren’t semantically appropriate for splitting up segments of a TOC, or for splitting up segments of other pages like [acts and regulations](http://wet-boew.github.io/themes-dist/GCWeb/act-en.html).  So, markup-wise, I'm with you.

But from a UI perspective, [ultra-long TOC pages](http://www.servicecanada.gc.ca/eng/ei/digest/table_of_contents.shtml) w

[2015-04-09 20:07] neoinsight commented on #243
@DK-TBS I tried some alternative ideas, and now agree that the simplest solution is that tabs are all closed when they first appear on mobile.  In the spirit of Agile, let's try that first. Very testable...

The alternative is that the LAST tab is open by default in mobile view - so they see all the other options first. In some cases (like Acts & Regs ironically), this is a very valid approach. So

[2015-04-17 08:33] KarinLau opened #244 "Absolute positioning: First example displayed code is buggy"
Hi,
In http://wet-boew.github.io/wet-boew-styleguide/v4/design/position-en.html the displayed code of the first example is not the same as the example showed. So it doesn't work when copying it and trying on your own.

[2015-04-17 14:00] LaurentGoderre commented on #244
@sviens can you take care of this?

[2015-04-24 20:22] thomasgohard commented on #222
@neoinsight I've added the icon after the label and the box:
![details-visuals](https://cloud.githubusercontent.com/assets/1810242/7327759/bc6c5766-ea9d-11e4-84bf-3aaa4ac8b78c.png)

How's that?

[2015-04-24 20:26] pjackson28 commented on #222
@thomasgohard What should happen when the labels are different lengths? Should they still be just to the right of text (so out of horizontal alignment) or should they be pushed off further to the right so they can be horizontally aligned?

[2015-04-24 20:33] neoinsight commented on #222
Thanks @thomasgohard

Tricky question @pjackson28 . In the example referred to above at http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=12453, the icon is on the far right of the box. But @thomasgohard just passed me a study that seemed to suggest that icons far from words are not beneficial, because people focus on words not icons.

Remember too that these are used about equally in Canada.ca in list

[2015-04-24 20:34] thomasgohard commented on #222
The icon is to the right of the text and are not aligned to one another:
![details-visuals-long-label](https://cloud.githubusercontent.com/assets/1810242/7327937/4259d8c0-ea9f-11e4-8c33-1ccab796568a.png)
If the icon was aligned to the right edge of the details/summary, there would be a huge gap of between the label and the icon when the details/summary is wide (like in the screenshot above). Becau

[2015-04-24 20:37] neoinsight commented on #222
Oh man, that's so weird in Example 2, where one arrow is pointing down and one is pointing up!
 Funny, didn't notice it earlier. Wow, this is a thorny problem. Am going to go look at the other glyphicons.

[2015-04-24 20:41] thomasgohard commented on #222
@neoinsight it does look a bit weird. But it does communicate the action that will be triggered by clicking on it: Down brings down the hidden content under the label; up brings the content up hidding it.

[2015-04-24 20:44] thomasgohard commented on #222
@neoinsight the singles and groups all look the same right now. I'll update the test form shortly.

[2015-04-24 20:49] neoinsight commented on #222
Hey, Bootstrap shows underlining on hover for their collapse model. http://getbootstrap.com/javascript/#collapse

[2015-04-24 20:50] neoinsight commented on #222
Also had wanted the text to be in link color but not underlined except on hover.

[2015-04-24 20:54] thomasgohard commented on #222
Right, I forgot the link-like treatment. I'll update the pull request.

[2015-04-24 20:56] neoinsight commented on #222
Awesome. Am still worried about the up AND down arrows thing. Maybe we could test both versions. One with box and link-like treatment and no extra icon, and one with same AND the extra icon.

[2015-04-24 21:00] thomasgohard commented on #222
OK. So remove the icon for the first round then?

[2015-04-24 21:00] neoinsight commented on #222
Yes, ok, thanks!

[2015-04-26 15:02] davidng2580 opened #245 "GC Banner does not display correctly. How to correct?"
Hi everyone,

I am new to WET 3.1.
The GC Banner works fine at work. However, at home, it does not render correctly (see Figure 1).
The CSS are loaded as in Figure 2.

Please advise me how to correct this situation.
Many thanks for your help.

Figure 1: GC Banner at home
![image](https://cloud.githubusercontent.com/assets/11884190/7337750/0b7b4b30-ec03-11e4-9da9-8235ed6b273a.png)

Figure 2: Chrome

[2015-04-27 15:08] LaurentGoderre commented on #245
Perhaps your server is not serving them right. DO you have a URL we can look at?

[2015-04-27 18:43] thomasgohard commented on #222
@neoinsight I've updated the test form: http://thomasgohard.github.io/web-form-validation-test/index-en.html.

Is that what you're looking for?

[2015-04-27 22:42] neoinsight commented on #222
@thomasgohard Yes, that's terrific - I think that will help a lot. I notice you removed the duplicate underlined version though. You'll remember it was under the one in the last wave of testing as an experimental control  -  basically, if they clicked it instead of the first one, then the first one wasn't quite working as well as we hoped.

Could you put it back in, just underneath the Browser fie

[2015-04-28 10:13] davidng2580 commented on #245
Hi Laurent,

Thank you for your tip. There was nested Form tag.

Correction was done & it is working.

David

From: Laurent Goderre [mailto:notifications@github.com]
Sent: 27 April, 2015 11:08 AM
To: wet-boew/wet-boew-styleguide
Cc: davidng2580
Subject: Re: [wet-boew-styleguide] GC Banner does not display correctly. How to correct? (#245)

Perhaps your server is not serving them right. DO you have

[2015-04-28 14:06] #245 closed

[2015-04-28 14:31] thomasgohard commented on #222
@neoinsight done.

Let me know if there are further changes you need done.

[2015-04-28 19:44] neoinsight commented on #222
There are a few on the form, I'll get them ready. Thanks!

[2015-04-29 14:22] hsrudnicki commented on #25
@rubinahaddad can we close the issue?
 I agree with @thomasgohard, because, based on http://ux.stackexchange.com/questions/7064/when-should-hyperlinks-be-underlined,
1) "The fundamental guideline is users must be able to recognize links by visual inspection alone—they shouldn't have to hover over an object or click it to determine if it is a link."
2) WCAG 2.0 (1.4.1): Use of Color: Color is not u

[2015-04-29 15:14] neoinsight commented on #243
@DK-TBS We have testing coming up in a few weeks. Let's not drop this. I just heard about a prototype that had replaced the left menu with tabs (no, no, no) - so we need to establish how they work and the guidance for them.

If we were to test two different versions of the same stuff, but one with the tab open and one with them closed on mobile, Travel advisories would be a great way to do it.  Bu

[2015-04-29 16:13] thomasgohard opened #246 "Document `lst-spcd` class"
The class is not documented in http://wet-boew.github.io/wet-boew-styleguide/v4/design/lists-en.html.

[2015-04-29 16:19] regagnon commented on #246
I tried everything that was sent to me, and, nothing works.

[2015-04-29 16:21] pjackson28 commented on #246
@regagnon What version of WET are you using? Could you please post the markup that is not working?

[2015-04-29 16:26] regagnon commented on #246
Web Experience Toolkit (WET)

wet-boew.github.io/wet-boew/License-eng.html

Templates/wet_rpl-rlp-2col-eng.dwt

@regagnon ( https://github.com/regagnon ) What version of WET are you
using? Could you please post the markup that is not working?
—
Reply to this email directly or view it on GitHub (
https://github.com/wet-boew/wet-boew-styleguide/issues/246#issuecomment-97486649
).

Ce courriel est de

[2015-04-29 16:43] pjackson28 commented on #246
@regagnon You can find the version number in the comment block at the start of one of the JS or CSS files. Also when posting your markup, make sure to use 3 backticks (reverse appostrophes) to open and close the block of markup.

[2015-05-06 19:52] nrustand92 commented on #222
Any thoughts on this sort of design?
![csb-picture-expandcollapseunderlined-20150506-e](https://cloud.githubusercontent.com/assets/5949078/7502147/d5fa7262-f407-11e4-8730-df5783d06e0b.png)

[2015-06-08 15:59] suzanneIRB opened #248 "Removing the space between an h level and the next paragraph"
We are looking for a class which would remove the space between two paragraphs and or an H level and a paragraph or div. rather than using a <br>

On our website we use the class tight

[2015-06-08 16:08] suzanneIRB commented on #248
sorry. I continue...    .tight {margin-top:-6px;}
Here's an example of a page where the legend that follows the image would contain the class tight. http://www.irb-cisr.gc.ca/Eng/BoaCom/empl/Pages/MemComMspPsc.aspx

[2015-06-08 16:09] suzanneIRB commented on #248
The class tight is attached to a <p> tag preceded by an H2 and removes the space between the H2 and the P.

[2015-06-08 17:37] thomasgohard commented on #248
You can use the `mrgn-{tp|bttm}-0` classes for this.

[2015-06-08 18:09] suzanneIRB commented on #248
Thank you. I have copied this class to our stylesheet as we are still using WET 3.  I tried it and it made no change, the space was still there. I will try it again.

In the meantime, would there a separate javascript that makes it work that wouldn’t necessarily be part of the WET 3 template, hence the reason why it is not working?

Bonne journée / Have a nice day
Suzanne Burbidge

Agente de souti

[2015-06-08 21:03] thomasgohard commented on #248
In WET 3, the equivalent classes are called `margin-{top|bottom}-none`.

[2015-06-09 13:23] suzanneIRB commented on #248
Yes, however, we are changing all of our wet3 and in-house classes in our existing documents to reflect the ones in WET4. We are copying to our stylesheets, their equivalent from WET4.

. mrgn-tp-0 {margin-top:0;}, does not work nor does margin-top-0 in WET3 for that matter, which is why we had to create our own class to remove the space.

In order for this to work, the value needs to be negative,

[2015-06-12 18:04] firowind opened #249 "WET site no help text in design guide forms"
Help text in table of content links to nothing
http://wet-boew.github.io/wet-boew-styleguide/v4/design/forms-en.html#forms-help-text

[2015-06-12 18:06] RobJohnston commented on #249
I've noticed that too.  There's a bit of a discussion going on in https://github.com/wet-boew/wet-boew/issues/6613 about how to do it.

[2015-06-17 20:15] thomasgohard commented on #248
In the example you provided, there's a `margin-bottom` on the `h2` and a `margin-top` on the `p`. To simulate your class `tight`, you would apply `margin-bottom-none`/`mrgn-bttm-0` on the `h2` and `margin-top-none`/`mrgn-tp-0` on the `p`.

[2015-06-20 01:58] vilmer opened #250 "icons"
para jade

[2015-06-22 11:38] RobJohnston commented on #250
¿Y quién es Jade?

[2015-06-26 15:36] suzanneIRB opened #251 "Tables - colgroup and text-right, text-center alignment"
We use <code>&lt;colgroup&gt;</code> (and <code>&lt;col&gt;</code>) to align numbers to the right in the cell of our financial tables rather than code each cell to the right. However, when applying the WET4 class "text-right", "text-center",  it does not work. Can the tag <code>&lt;col&gt;</code> be added to the existing classes "text-right" & "text-center" so that it will work?

Alternately, is t

[2015-06-26 16:33] pjackson28 commented on #251
It is not an issue with WET or Bootstrap, it is an issue with the W3C (and by extension browsers) only supporting four CSS properties on the col element, which text-align is not one of them. There used to be an align attribute supported on col but it has since been deprecated in HTML5. So there is nothing that can be done on our end until the W3C and browsers decide to support CSS alignment throug

[2015-06-26 16:37] pjackson28 commented on #251
Note also that you can apply "text-right" to the table element and the tr element and it will change the alignment for all td elements. If you want to change the alignment of th elements, then you will need to apply "text-right" to the th elements individually.

[2015-06-26 17:05] suzanneIRB commented on #251
Thank you for all the prompt responses.

Bonne journée / Have a nice day
Suzanne Burbidge

Agente de soutien du Web
Commission de l'immigration et du statut de réfugié du Canada / Gouvernement du Canada
suzanne.burbidge@cisr-irb.gc.ca<mailto:suzanne.burbidge@cisr-irb.gc.ca>
Tél. lundi, mercredi & vendredi: 613-769-9006 • mardi & jeudi : 613-834-9957
Télécopieur : 613-996-0270
Twitter : @CISR_Canad

[2015-06-26 17:08] #251 closed

[2015-06-26 20:59] neoinsight commented on #222
@thomasgohard I have analyzed the data from the last round of testing, with the CSS changes for this element. Out of 15 participants who used it, all tried this new version first, rather than trying the underlined version like in the last round of testing.
I recommend these CSS changes be rolled into the next version of WET or however this would get done, and then we can close this issue. Whew! Th

[2015-07-08 13:39] fredericpierre commented on #223
We are in the process of upgrading our WET V3.1 site to WET 4 and I cannot find guidelines explaining the class name changes.

Can you help ?

[2015-07-08 18:56] branickit commented on #223
Hello,

Our Web Communications team has come up with a WET 3 to WET 4 mapping table. You can download the Excel file from here: http://www.nrc-cnrc.gc.ca/obj/doc/wet-boew/wet3_to_wet4_equivalencies.xlsx

This is not an official mapping guide or anything, this is just something that we developed internally at NRC to help us start transitioning to WET 4.

Note, that there are two worksheets (two tab

[2015-07-09 10:29] fredericpierre commented on #223
Thank  you Tatiana, my team will appreciate it!

[2015-07-09 14:11] fredericpierre commented on #223
Thank you.

I just wonder why the WetToolkit folks feel the need to change the name of the classes for each new version instead of being backwards compatible with new features added.

From: Tatiana Branicki [mailto:notifications@github.com]
Sent: July-08-15 2:57 PM
To: wet-boew/wet-boew-styleguide
Cc: Pierre, Frederic: CIO-BPI
Subject: Re: [wet-boew-styleguide] WET 3 to WET 4 migration (#223)

Hel

[2015-07-09 14:20] LaurentGoderre commented on #223
Many of the class name change are due to adopting Bootstrap which is a far better superior option than our old grid system. The plugins class also changed to reduce how verbose they are.

[2015-07-09 15:47] pjackson28 commented on #223
As @LaurentGoderre was mentioning, the changes reduced the length of selectors which ultimately reduced the overall CSS payload by nearly 30%, which is a huge benefit to mobile users as it reduced their load time and was more friendly towards their limited download caps. One of the major focuses of v4.x was mobile optimization since over 1/3 of traffic is now with mobile devices.

[2015-07-09 16:12] suzanneIRB commented on #223
Thanks. This is a great help. However, on line 165 of Sheet 2, the output/notes for the tr.active is entered as a pale blue bg. However, in the stylesheet the background color refers to f0f0f0* which is a light grey.
.table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.ac

[2015-07-09 19:49] terribly commented on #242
I note that no one has come up with any suggestions as to how to better render tables of contents. I have complex documents with multiple levels. I too would love to have accordions to roll these up. Details-summary could be used to basically roll up the entire ToC but that seems like throwing the baby out with the bathwater. This is exactly a good use case for accordions and would greatly assist

[2015-07-13 17:57] thomasgohard commented on #242
@terribly do you have examples of these documents you can share?

[2015-07-16 16:49] pcwsmith commented on #222
As discussed yesterday, @thomasgohard and team will port the details/summary CSS from the sample form into WET for release v4.0.16 or v4.0.17. Trying to attach screenshots for ease of reference:

[2015-07-16 17:27] pcwsmith commented on #243
In recent usability testing by @neoinsight, one participant did fail to find the tabs below the first in mobile view. But not enough data yet to make any judgements. Will work with Lisa to test further in upcoming rounds.

[2015-07-20 14:14] marieeved opened #254 "help for dropdown menu"
hi,
in the WET, we don't have the code for a dropdown menu. I already read messages on git hub about that, that you will not add such a code... but canada.ca have a dropdown menu. They use an other technique : "data-ajax". I don't know this tag. I tried to use it, I change the path, I made few modifications to the doc : sitemenu-fr.html (with my own labels and links) and it didn't work. Can someon

[2015-07-20 14:30] marieeved opened #255 "is a div 2 columns in a div 3 columns possible?"
hi,
I tried to have a carroussel with text aside. The text is not the text that goes with the carroussel (it's for an other section). I was able to put them seperatly in a "well" and in the principal framework, but I want them bigger. In fact, I want the carousel and text occupy the space of the entire length of the page (in my div), so 1/2 -1/2. but my div is already structured in 3 columns (1 /

[2015-07-20 14:31] LaurentGoderre commented on #254
Can you please close this issue and open it on the main project: https://github.com/wet-boew/wet-boew

[2015-07-20 14:32] marieeved commented on #254
sorry. thanks for the info.

[2015-07-20 14:33] #254 closed

[2015-07-20 14:33] LaurentGoderre commented on #255
This should also be filed on the main repo https://github.com/wet-boew/wet-boew. However bootstrap does allow for nested grid cells. When you open the new issue can you also include a diagram that shows what it should look like?

[2015-07-20 14:34] marieeved commented on #255
thanks Laurent.

[2015-07-20 14:34] #255 closed

[2015-07-20 14:58] #222 closed

[2015-07-21 14:08] tommydevdocs commented on #254
Hi,

I'm getting the same issue. The site is only replacing the AJAX Menu on the homepage. I tried with different paths /,  ~/,  ../.

[2015-07-21 14:10] LaurentGoderre commented on #254
In that case it's probably that you should be using absolute paths for all pages

[2015-07-27 04:20] #48 closed

[2015-08-07 21:05] terribly commented on #242
@thomasgohard

Uniform Classification of Accounts
https://www.otc-cta.gc.ca/eng/publication/uniform-classification-accounts-and-related-railway-records-2014
- adding the H3 levels was impossible for the sidebar navigation. We do not have a model for ToC in the top of body (would need nested accordions and this is not supported in WET4: we had this in pre-WET4 CMS system).

The legal decision here

[2015-08-18 17:44] apressey commented on #208
Has there been any update on this?  I liked the zebra effect on the list elements.  Its a shame to only have it available on tables now.

[2015-09-14 12:08] Bgolden67 opened #256 "Over ride for panel heading colours?"
I'm looking for a way to over ride the font colour in a panel heading, have I missed that somewhere?
If we use <code>panel-info</code> for example, we would prefer to see the font black not the shade of blue that is default for that panel colour.

[2015-09-18 14:33] Bgolden67 opened #257 "borderless tables"
*Sorry if this is duplicated but i couldn't find anything similar before submitting*

If this has not already been done... is there any plan to add a <code>.borderless</code> class to override the default of horizontal borders of the <code>.table</code> class?

Would like the spacing applied by the <code>.table</code> class but in some cases have all borders removed.

similar to this:
<code>
.tabl

[2015-09-23 12:13] Bgolden67 commented on #256
Bump for some input..

[2015-09-23 12:14] Bgolden67 commented on #257
bumping for some input

[2015-09-24 17:03] shawnthompson commented on #256
You could always change it in a custom theme styles. We don't have any colour specific classes.

[2015-09-24 17:18] Bgolden67 commented on #256
Trying to avoid custom CSS like the plague given migration to canada.ca in the near future..I don't want to have to worry about anythign customized especially colours. I thought maybe there was somethign being suggested elsewhere that I couldn't find in an open or closed issue

[2015-09-24 17:25] shawnthompson commented on #256
Once over to Canada.ca you will no longer have control over the colour scheme of anything. All of that would be managed by the Canada.ca specifications.

[2015-09-24 17:41] Bgolden67 commented on #256
exactly why i was wondering i was already a class for colour to use as an override.. save having to re-do thing again once migrated

[2015-09-24 17:43] shawnthompson commented on #256
As far as I know, overrides won't be allowed once migrated into Canada.ca. The theme will take care of everything.

[2015-09-28 15:04] neoinsight commented on #157
Closing - no longer relevant.

[2015-09-28 15:04] #157 closed

[2015-09-28 15:05] neoinsight commented on #165
Closing - resolved.

[2015-09-28 15:05] #165 closed

[2015-09-30 18:50] Mercier opened #258 "Checkbox and radio buttons"
On this page http://wet-boew.github.io/wet-boew-styleguide/v4/design/forms-en.html#checkboxes the label tag is missing the for attribute. Although how you have done it is called "associating labels implicitly" and is explained in this Labeling Controls tutorial from W3(http://www.w3.org/WAI/tutorials/forms/labels/), WCAG 2.0 accessibility tools fail our page when we use that code. And it seems man

[2015-10-09 18:57] sarasuri opened #259 "Form - Selecting multiple items from a select list using keyboard-only"
We are using multiple select lists in one our Web application for users to select multiple items from. There are keyboard challenges in selecting non-consecutive items in different browsers specifically in Chrome.

Would this fail the Success Criterion 2.1.1 Keyboard? or

If we provide instructions on the page on how to select multiple items from a select menu in IE and Firefox browsers would that

[2015-12-02 21:24] dravas-nat opened #263 "better example for Horizontal definition lists re: Github issue #6998 - New fix to left-align"
a recent fix was applied to the Horizontal definition lists to left-align terms and descriptions in line side-by-side.
https://github.com/wet-boew/wet-boew/issues/6998

may i suggest that we show a better example that clearly illustrates the nuance of this new left alignment like something along those lines.

![new horizontal description list example_nov 2015](https://cloud.githubusercontent.com/a

[2015-12-10 16:58] RubyDo opened #264 "forms: Instruction within label"
Hello,
Currently the instruction added within a <label> appear in font-weight: 700. It looks too strong visually especially if the sentence is long (i.e. http://www.inspection.gc.ca/active/netapp/fishpoi/us/use.aspx).
Would it be possible to add a class to make the font-weight: 400 ?
.normal-weight {
	font-weight:400
}

or
label .normal-weight {
	font-weight:400
}

[2015-12-10 18:12] duboisp commented on #264
De manière sémantique, je ne crois pas que les instructions devrais faire partie intégrale des « label » et je perçois bizarement l’utilisation des « br » dans l'exemple.

Donc, avant de prendre une décision, la question/recherche à faire serait de déterminer « un standard » pour l’affichage des instructions dans un formulaire. Pour certains cas, il est bien d’avoir les instructions affiché direct

[2015-12-10 19:39] RubyDo commented on #264
J’aimerai modifier ma demande pour un class générale qui peut être impliqué dans plusieurs cas e.g. unbold un <th> ou unbold un <dt> si c’est en besoin.

@duboisp Merci beaucoup :+1:  Je suis entrains d`évaluer les différents méthodes  d’associer  les instructions spécifique à un champ de formulaire.  (En label, en aria-describedby et en aria-labelledby).
Comme sources, je vois http://www.w3.org/W

[2016-01-04 18:21] suzanneIRB opened #265 "Indentation"
I have tried mrgn-lft-md on a TD but it does not seem to work. Can the TD be added to this class?

[2016-01-18 12:53] RobJohnston commented on #264
@RubyDo There is a discussion about how to put help text on form elements going over here:  https://github.com/wet-boew/wet-boew/issues/6613

[2016-01-18 21:43] RubyDo commented on #264
Thanks @RobJohnston! very interesting

[2016-01-25 14:56] kellerd opened #266 "Breadcrumbs and Related Links in style guide broken"
Found a lot of Related Links that switch sections in the style guide, or the breadcrumbs in the style guide come up with 404 errors.

Example page: http://wet-boew.github.io/wet-boew-styleguide/v4/design/icons-en.html
 Related link to Accessibility guide is broken, breadcrumbs broken

Other examples of correct and broken links

Link found: http://wet-boew.github.io/wet-boew-styleguide/v4/wet-boew/

[2016-02-02 17:55] samisd opened #267 "Print active tabbed interface not working well in v4.0.19+2"
We are having issues with the Tabbed interface we use for the Travel advice and advisories at Travel. It seems to be responding erratically to printing in different browsers. We are currently using v4.0.19+2 and implemented the Print-active class to print only one tab, but it is not indicative to the user what the other tab titles would be or even if there is content there. The Print-active class

[2016-02-04 20:14] samisd commented on #267
Simitlar issue in the regular issues list

[2016-02-07 07:30] masterbee opened #268 "Breadcrumb links are broken in the documentation"
Breadcrumb links for "Style Guide" and  "Design Guide" are broken in your documentation.
For example see [Buttons Example Page](http://wet-boew.github.io/wet-boew-styleguide/v4/design/buttons-en.html)
And check the breadcrumb link

/cc @jaycuse

[2016-02-23 20:52] danielt113 opened #269 "Tables with numbers can't be ordered if they have units"
I have a table that shows distances to passport offices. The distance column is sorted numerically but when I put in "Km" after each number it sorts it alphabetically. So it sorts looks like:

1. 8 km
2. 8,898 km
3. 806 km
4. 849 km

Is it possible to have units after each number in the cell without affecting the sorting method?

[2016-02-23 21:01] danielt113 opened #270 "LightBox scrolls away from table row when opened"
I have a large table with text in it that open LightBoxes for a description of what the text means. I've done this because tooltips are not accessible and footnotes scroll the user away from their current table row.

When you click the lightbox it scrolls the page all the way to the top, then when you close the lightbox it anchors to the row you were on before. This is a huge issue with a table be

[2016-03-17 18:20] RobJohnston commented on #268
Dupe of https://github.com/wet-boew/wet-boew-styleguide/issues/266

[2016-03-17 18:40] #268 closed

[2016-03-22 15:43] RobJohnston commented on #269
I think that as soon as you added letters to the distance, the sorting changed from numeric to string.  Style-wise, I remember that my science teachers would have been upset with me if I didn't [write the units in the column header] (http://www.scienceeditingexperts.com/creating-tables-in-scientific-papers-row-and-column-titles-units-error-values-and-sample-sizes).

But maybe you could benefit fro

[2016-04-22 18:24] shadeinc opened #272 "Severed text"
Is there an approved solution to display severed information? Normally this shows up as a black block where the severed information was. This is the only online example from a GoC website that I could find, but I don't think that's a great solution to this problem: http://www.crs-csex.forces.gc.ca/reports-rapports/2012/197p0957-eng.aspx

[2016-04-22 18:38] LaurentGoderre commented on #272
You can use textual queues for this such as [ RedactedText ], [ Redacted Paragraph ] and style those or not.

[2016-04-22 18:54] shadeinc commented on #272
What do you suggest to style them? I haven't seen any styles in the WET CSS that emulates the black block of text, and of course using black text on black background is a color contrast fail, even though that's exactly the point of it..

[2016-04-22 19:08] LaurentGoderre commented on #272
You could have the black box with white text. However I am not the right person to decide what is the best way. These are just my suggestions

[2016-04-25 13:12] RobJohnston commented on #272
Is the "Full Block" character useful here? &#9608;&#9608;&#9608;

http://www.w3schools.com/charsets/ref_utf_block.asp
https://en.wikipedia.org/wiki/Block_Elements

[2016-04-25 13:19] shadeinc commented on #272
Interresting suggestion. Adding a few in a row, making them invisible to assistive technologies and adding invisible text that describes the text has been severed for assistive techonlogies, acceptable solution?

[2016-04-25 13:25] LaurentGoderre commented on #272
I would still suggest going with the simple text approach but that solution could potentially work too.

[2016-05-05 14:06] dfarough opened #273 "The title for this page should be Design Guide or something similar to level 1 heading"
I noticed this issue when bookmarking the page.  It came up as WET examples or something.

[2016-05-05 14:09] dfarough commented on #273
Same issue for the writing guide as well.

[2016-05-05 14:10] dfarough commented on #273
The same issue applies to the accessibility guide.

[2016-06-14 11:13] Bgolden67 opened #274 "Responsive table - question about improvement"
Is there any way to alter the table responsive class to add the scroll to the top as well as the bottom of a table? It's never clear to see that there is a horizontal scroll on the table. If it's a long table, it means scrolling down the page to scroll horizontal and then back up to try to find what line you were looking at again. At least if the scroll was visible at the top as well it could be a

[2016-06-21 12:24] Bgolden67 commented on #274
anyone have any thoughts on this?

[2016-06-21 13:15] RobJohnston commented on #274
I have an idea.  I've seen others add a visual clue to the right edge of the table to indicate that the table can be scrolled horizontally.  Check out this page by [the-haystack.com] (http://www.the-haystack.com/2013/09/24/responsive-scrollable-tables/), which builds upon work by [456BereaStreet](http://www.456bereastreet.com/lab/responsive-scrollable-tables/), which was inspired by [MaxDesigns](h

[2016-06-21 14:18] Bgolden67 commented on #274
I see a few good examples, I like the one that changes the display format (another example from one of the links (http://blog.cloudfour.com/picking-responsive-tables-solution/)

however, the other option of adding the shadow isn't enough, aside from being purely visual and even then may not always be noticed, if the table is long  it still means scrolling down to the bottom of the table in order t

[2016-06-21 17:19] DK-TBS commented on #274
I’m with Brian on this one;  having scrollbars appear only at the bottom is likely to cause problems in cases where the bottom of the table isn’t visible onscreen.

I think we should see if we can convince someone to try and alter the responsive table class so that it includes a horizontal scrollbar at the top as well as the bottom.  That would be the most basic improvement, and probably represent

[2016-06-21 17:33] shawnthompson commented on #274
Being a Mac user, I only see scroll bars when I actually scroll on a page.

As you can see from this screenshot, when I view this thread at 1054x608, there is no scroll bar in Firefox. There wouldn't be one in Chrome or Safari either. It's something Mac OSX decided in getting rid because they thought it took up too much real estate. So when you scroll on Macs, the scroll bar appears with low opaci

[2016-06-21 17:33] shawnthompson commented on #274
But I do like the drop shadow on the table!!!!

[2016-06-21 17:57] DK-TBS commented on #274
Ach.  Hiding the scrollbars on MacOS is one of the worst decisions I've seen them make in a while, it drives me nuts.  The drop shadow stuff would at least help provide a visual cue, making that problem slightly less rotten.

Incidentally, I'm on IE11 on Win8 and none of the shadows show up at all.  Sad story.

[2016-06-21 18:01] shawnthompson commented on #274
You need to get a you a Apple Magic Mouse, scrolling is awesome in with it. Just like scrolling on an iPhone or smart phones, they don't have scroll bars either (I think).

[2016-06-22 01:51] nschonni commented on #274
Upstream issues would be https://github.com/wet-boew/wet-boew/issues/3402 and https://github.com/wet-boew/wet-boew/issues/6351

[2016-06-22 02:11] shawnthompson commented on #274
I remember those but neither of them really talk about the scroll bar. Not a fan of styling native browser behaviour

[2016-06-22 02:35] nschonni commented on #274
Yes, both of those are about adding responsive tables functionality to the toolkit, which as far as I know hasn't been done yet. I could be pretty wrong on that at this point though. The scrollbars appear because we don't have a responsive tables solution.

[2016-06-22 14:53] neoinsight commented on #274
@shawnthompson
-Hmm, we have seen some horizontal scrolling issues during WET testing, but mostly on mobile, when people simply didn't realize there WERE more columns, particularly when the column margin hit the edge of the screen, thus ensuring there were no visual cues at all.
- I too prefer to let the browser handle those kind of things, particularly since there are gestures involved.
-We haven

[2016-08-09 20:13] mrryancgeorge opened #275 "The Absolute Positioning Image Not Showing"
The images under Absolute Positioning are broken links and not displaying.

[2016-08-10 17:14] RobJohnston commented on #275
Where is this?  On this page:  http://wet-boew.github.io/wet-boew-styleguide/v4/design/position-en.html?

I don't see the problem.  These link are working for me:

- http://wet-boew.github.io/wet-boew-styleguide/v4/design/images/position.png
- http://wet-boew.github.io/wet-boew-styleguide/v4/design/images/position-mini-1.png

[2016-08-10 17:33] mrryancgeorge commented on #275
It's a minor issue I found here:
http://wet-boew.github.io/wet-boew-styleguide/v4/design/options-en.html

![missing images](https://cloud.githubusercontent.com/assets/20935045/17563796/ca8d0c88-5ee5-11e6-9c13-de1658c8097f.JPG)

[2016-08-15 14:53] CalvinRodo opened #277 "Link to Forms Accessibility page invalid"
The link to the Form Accessibility Guide provided on the Forms page in the styleguide gives a 404 error:
Page with link: http://wet-boew.github.io/wet-boew-styleguide/v4/design/forms-en.html
404 error link: http://wet-boew.github.io/wet-boew-styleguide/v4/accessibility/forms-en.html

[2016-08-15 14:54] CalvinRodo commented on #277
I imagine this is related to #118

[2016-08-15 16:19] RobJohnston commented on #277
And right below that, "Keyboard and user controls" is also broken.  Not sure, but I think that the correct destination are:

- http://wet-boew.github.io/wet-boew-styleguide/v4/accessibility/requirements/forms-en.html
- http://wet-boew.github.io/wet-boew-styleguide/v4/design/keyboard-en.html

[2016-08-16 14:02] CalvinRodo opened #278 "Page Titles for GC Intranet Theme in all Languages are in English."
All the page titles linked to from this page are in English regardless of the language of the page.
http://wet-boew.github.io/themes-dist/theme-gc-intranet/index-en.html

I imagine for most of the pages this is not an issue however it is an issue for the French pages, the titles on those pages should be in French.

[2016-08-17 15:37] CalvinRodo opened #279 "State of development on the StyleGuide"
@pjackson28 I'm curious what the state of development on the style guide is? The last commit was on May 6th and before that it was hasn't really had any work on it since summer of last year. Is this project basically abandoned by TB? Are we ever going to have WET be properly documented?

[2016-08-17 15:57] pjackson28 commented on #279
@CalvinRodo I'm not the lead of WET anymore so I'll need to defer to @masterbee who leads it now or someone from his team.

[2016-08-17 15:58] CalvinRodo commented on #279
Sounds good.

[2016-08-26 20:30] CalvinRodo commented on #279
@masterbee Any answer for this?

The following issues from @MaryBethBaker illustrate the need to complete the documentation for WET-BOEW.
- wet-boew/wet-boew#7647
- wet-boew/wet-boew#7648
- wet-boew/wet-boew#7649

[2016-08-29 13:12] MaximMartel commented on #279
Hi @CalvinRodo,

I will be looking into these issues and update the documentation accordingly this week.

Thank you,

[2016-08-29 17:35] MaximMartel commented on #279
First 2 are taken care of, looking into #7649

[2016-08-29 20:54] CalvinRodo commented on #279
So does that mean that development will continue on the style guide? I can link a couple of older issues I have opened in the wet-boew issue list so that they can be actioned on if you'd like.

[2016-09-01 14:18] MaximMartel commented on #279
Please do @CalvinRodo, I will take a look and action them as soon as I can

[2016-09-07 17:07] crochefort opened #280 "New link for font-awesome"
This page : http://wet-boew.github.io/wet-boew-styleguide/v4/design/icons-en.html need to be updated

The link for font-awesome has changed!

This is the new link : https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css

From : https://www.bootstrapcdn.com/fontawesome/

[2016-09-07 17:28] MaximMartel commented on #280
Hi @crochefort,

Thanks a lot for this valuable information, i will update the style guide soon reflecting this change.

[2016-09-07 17:30] MaximMartel commented on #279
Please do @CalvinRodo, I will take a look and action them as soon as I can and action appropriately

[2016-09-07 18:10] #280 closed

[2016-09-13 16:22] JVan91 opened #282 "Disabled input with datepicker, still getting input from datepicker"
Hello!

I have a particular textbox control on my page and under certain conditions said control is given the disabled attribute to restrict a users keyboard input.

The problem is that the datepicker is still there active and can be clicked/chosen to select a date which will bypass the disabled attribute of the input field control.

I cannot seem to find a way to disable the datepickers that get

[2016-09-13 19:01] CalvinRodo opened #283 "Form Validation Implementation Example Incorrect"
The following line code example is incorrect
[code]

The strong tag around (required) needs to have the class required added to it otherwise the text (required) is black not red:
[code]

[2016-09-13 19:02] CalvinRodo commented on #283
@MaximMartel

[2016-09-13 19:07] CalvinRodo commented on #279
@MaximMartel  Should new issues regarding the style guide be entered in this repository or tracked in the main wet repo?

[2016-09-13 19:21] MaximMartel commented on #283
Thanks @CalvinRodo !

[2016-09-14 14:21] MaximMartel commented on #283
@CalvinRodo

https://github.com/wet-boew/wet-boew/pull/7661

[2016-09-14 14:44] MaximMartel commented on #283
Since wet-boew/wet-boew#7661 has been merged with this fix, closing this issue.

[2016-09-14 14:44] #283 closed

[2016-10-13 15:08] terribly opened #284 "Style guide - design guide breadcrumbs are broken"
I keep thinking someone will say something about this... but these have been broken for over a year. It would be nice to have them fixed as navigating the guides is a pain without them.

[2016-10-13 15:17] RobJohnston commented on #284
Somebody did say something... in #268 and #266.

[2016-10-17 02:49] cfarquharson opened #290 "Newest files accidently put in root of master/ instead of in design/ and writing/"
I accidentally put the new files in the root folder instead of the design/ and writing/ folder.  I have since uploaded them to the correct folders but don't know how to remove the copies from the root folder?

Also, the new files are also in French but because there seems to be no attached French template for Travis to use, it fails the build.  I dont' know how to fix that.  Can someone look into

[2016-10-17 16:12] shadeinc opened #291 "Youtube play button showing up repeated in transcript"
We just noticed an issue with the CSS class wb-mltmd.youtube found in theme.min.css (v4.0.22). It adds a background image (the white on red play button from Youtube) as background-repeat all over the <details> area providing the transcript underneath a youtube video. I can confirm that the issue occurs in at least both IE10 and Chrome52.

This is the CSS code causing the issue, grabbed from theme.

[2016-10-17 16:29] LaurentGoderre commented on #291
wrong repo, please open here: https://github.com/wet-boew/wet-boew/

[2016-10-17 19:47] cfarquharson commented on #290
@LaurentGoderre Can you come by my rescue?

[2016-10-19 14:55] cfarquharson commented on #290
@shawnthompson @nschonni Can you help out, per above.  I have merged in the newest content (which is now in both languages).  The problem that I accidentally put the files in the root folder instead of into the design/ and writing/ folders.  I have since put the correct files in those folders BUT I don't know how to delete them out of the root.  ALSO, since there is no French template attached to

[2016-10-19 18:28] EricDunsworth commented on #291
This issue only affected GCWeb. I fixed it a few days ago in wet-boew/GCWeb#1184 :).

[2016-10-19 18:32] shadeinc commented on #291
awesome thank you!

[2016-10-19 18:34] #291 closed

[2016-10-19 18:34] EricDunsworth commented on #291
@shadeinc You're welcome :)!

[2016-10-20 16:12] cfarquharson commented on #290
@EricDunsworth please see above.  Can you help out?

[2016-10-21 19:31] EricDunsworth commented on #290
Done in #294.

@cfarquharson Btw just wondering why you weren't able to make these deletions on your own? If you don't feel comfortable with git command line, I'd highly recommend using a git GUI such as [TortoiseGit](https://tortoisegit.org/). I've been using it for years without any issues.

[2016-10-22 13:16] #290 closed

[2016-10-22 13:17] #275 closed

[2016-10-26 15:51] cfarquharson opened #295 "Remove blue alert box and add images folder"
I need the blue alert boxes that appear directly below the H1 removed from the build (like on this page: http://wet-boew.github.io/wet-boew-styleguide/v4/design/index-en.html ) That text is already added to the necessary pages (on the right).

I need someone to create an 'images/' folder for me here: `wet-boew.github.io/wet-boew-styleguide/v4/writing/images/` so I can upload some images needed to

[2016-10-28 02:50] duboisp opened #296 "Question about design guide redesign (oct 2016)"
Hi,

I notified the style guide has been fully redesigned recently.

Should the [main design guide page](http://wet-boew.github.io/wet-boew-styleguide/v4/design/index-en.html) be named "Design Guide" instead of "Style guide"? As the page titled "Style guide" is the [home page](http://wet-boew.github.io/wet-boew-styleguide/v4/index-en.html).

Is the "Content formating" was simply a cheatsheet of [T

[2016-10-28 02:52] duboisp commented on #295
@cfarquharson you only need to clean the HTML in this following file

https://github.com/wet-boew/wet-boew-styleguide/blob/master/site/includes/sitewidemessages.hbs

Cheers

[2016-10-31 17:38] cfarquharson commented on #296
@duboisp I have cleaned up the pages now and the mainpage is now the default content page.  I have put a redirect on the 'Design guide' page back to the main page.

"Content formatting' is also a direct back to the main page.  The mainpage is the listing of CSS and JS solutions.  The reason I have mixed plug-ins with CSS as it's confusing to have to know to search two different repositories.  So t

[2016-10-31 18:10] terribly opened #312 "Recent changes to the Style Guide index page make it much less useful"
Now in the correct repository:

The recent changes to the Style Guide index page have made this page MUCH less useful.

It is a key reference page. It is now much harder to scan. It puts items of less common use and of lesser import into the list with things that are more important. The three column layout is very hard to scan.

I recommend reverting this to the prior index page. It was not someth

[2016-10-31 21:03] cfarquharson commented on #312
Hey @terribly

The guide was updated to be more fulsome.  It's previous version was painfully out-of-date, in English only, and missing vast amounts of content/context.

As the principle creator of the both the original Style Guide (the one you prefer) and this new Style Guide (the one you are commenting one), all I can say is that this is an open source solution and so if you have modifications y

[2016-10-31 21:04] cfarquharson commented on #312
@terribly PS the breadcrumbs have been fixed by Service Canada.
Thanks a ton @shawnthompson - you rock!

[2016-10-31 21:09] cfarquharson commented on #295
@duboisp Thanks!

[2016-10-31 21:09] #295 closed

[2016-10-31 21:10] cfarquharson commented on #284
Fixed as of today thanks to @shawnthompson

[2016-10-31 21:10] #284 closed

[2016-10-31 21:45] cfarquharson commented on #279
@CalvinRodo It's been updated, translated and beefed up :)

[2016-11-01 06:01] duboisp commented on #296
Thanks @cfarquharson cleaned up the pages.

I understand that mixing plug-ins with CSS could make it easier for a one stop shop from an editor point of view, but the reality is the editor use both web site. Style guide for CSS related stuff and the main WET web site for plugin documentation/example. Also, I worry about what would happen if WET get a new plugin added? I worry now because I am almos

[2016-11-01 14:22] terribly commented on #312
Tiling makes scanning very difficult. The Table of Contents approach is a much better one. This is not the terminal page, it is to get to the sections. Seeing examples is not really essential at this point - it is just eye candy that gets in the way of navigation.

Most people who will be coming to this on a regular basis will know what the elements are. This page is not the teaching page, it is t

[2016-11-01 14:24] terribly commented on #312
Although the intentions might be good, I think the realization was not. But more importantly, the breadcrumb links are still broken. So fixing real problems and developing better content examples is probably a better use of time.

[2016-11-01 14:42] cfarquharson commented on #312
@terribly which page has broken breadcrumbs because they work for me?  (You might have to refresh the page if you have it cached).

As far as the design, as I mentioned, this is an open course collaborative solution.  Feel free to submit coding changes.  That said, while I agree that 'people who will be coming to this on a regular basis will know what the elements are', from what I have seen on Ca

[2016-11-01 14:54] cfarquharson commented on #296
@duboisp I didn't include jumbrotron because I don't think anyone uses it.  Also, my understanding is that we aren't supposed to use the Bootstrap progress bar and instead use the HTML progress bar.  I also though that pills are only part of Bootstrap's tabbed navigation and since WET4 has it's own, what is the value in pills without the JS (because otherwise they are just buttons and we already h

[2016-11-01 16:24] duboisp commented on #296
@cfarquharson My PR #314 do not modify what you did, instead it only add pre-defined filtering options through select case.

I knew they were a tables bellow with all the WET plugins, I am not necessary saying to remove the plugin, but I wanted to express the needs that we might needs to optimize how it is feeded and ensure we do not present outdated information. That is why I was suggesting/propo

[2016-11-01 16:51] cfarquharson commented on #296
@duboisp If you could send me a link tomorrow, that would be great.  I just want to see how it looks as the design is more complex given that there are the examples.  I can work on the missing pages but it will be a couple weeks as we need to get it translated as well.

[2016-11-01 18:56] CalvinRodo commented on #279
Cool!

[2016-11-01 18:56] #279 closed

[2016-11-01 18:57] CalvinRodo commented on #278
Fixed!

[2016-11-01 18:57] #278 closed

[2016-11-01 18:59] CalvinRodo commented on #277
These links no longer exist so I'm happy to close this.

[2016-11-01 18:59] #277 closed

[2016-11-01 23:17] duboisp commented on #296
Here the link: http://universallabs.org/wet/style-guide-PR314/index-en.html
_Once my PR merged, feel free to re-organise how the form input for the filtering are layout._

Thanks for taking the time to adding the missing one. What do you think of adding a little notification/alert in that regards on the style guide just before the data table?

[2016-11-02 14:55] cfarquharson commented on #296
It's great!  Are you able to do the same thing for me for the French page?  I don't speak French so it will be a while before I can get someone to translate it.  Do you mean adding an alert the up-and-coming documentation includes jumbotron, pills etc?

[2016-11-02 15:44] duboisp commented on #296
@cfarquharson I will do the custom table filtering for French main page and I can restore the documentation we had for "jumbotron", "pills" and "progress bar and meter".

Yes I means an alert. May be we go simple by inserting an alert directly on the concerned documentations page saying we are working on translation and redesign them.

What do you think of this text in an ```alert-info``` immediat

[2016-11-02 15:49] cfarquharson commented on #296
Works for me :)

[2016-11-02 16:01] cfarquharson commented on #296
When you are doing the final changes to the datatables, are you able to remove the big .well from around the whole batch of tiles...it looks weird now.

[2016-11-02 16:36] duboisp commented on #296
ok I will remove that .well at the same time

[2016-11-03 03:28] duboisp commented on #296
@cfarquharson I updated my PR #314

[2016-11-09 14:48] #312 closed

[2016-11-21 14:27] RobJohnston commented on #249
Since the style guide was updated, the "Help text" section was removed, so this issue can be closed, no?

But I'd still REALLY love to see a best practice for this!  The [issue about how to do it](https://github.com/wet-boew/wet-boew/issues/6613) remains open (I'm leaning towards the modal design).

[2016-11-21 14:36] RobJohnston commented on #250
@vilmer : ¿Podemos cerrar esto?

[2016-11-21 14:43] RobJohnston commented on #244
Seems to be an exact copy now that the style guide has been updated.  Close?

[2016-11-21 14:58] RobJohnston commented on #282
Update to this with the latest version of the date picker...  One can no longer choose a date, but the cursor is the hand (pointer) when over the calendar button but a not-allowed sign when over the input area.  Would be better to be the same over the button as when over the input field.

[2016-11-21 15:02] RobJohnston commented on #266
Checked all these... With the re-write of the style guide, most of this has been fixed.

The only one still broken in this list is the link to the Accessibility guide on http://wet-boew.github.io/wet-boew-styleguide/v4/accessibility/requirements/images-en.html.   The breadcrumb "Style guide" actually links to the accessibility guide.

[2016-11-21 15:09] kodecount commented on #266
@RobJohnston If you want I can do up a quick PR to fix this?

[2016-11-21 15:10] RobJohnston commented on #237
This has been done and examples are available for the GCWeb theme:
http://wet-boew.github.io/themes-dist/GCWeb/content-signedon-en.html
http://wet-boew.github.io/themes-dist/GCWeb/content-signedoff-en.html

Close?

[2016-11-21 15:11] kodecount commented on #266
@RobJohnston Also should the french link be removed until translation of the accessibility guides are complete (if they are in the works)?

[2016-11-21 15:11] RobJohnston commented on #266
Sure... I just had a few minutes free, so went looking issues to close.

[2016-11-21 15:12] kodecount commented on #266
I'll see about @cfarquharson input before I continue?

[2016-11-21 15:23] neoinsight commented on #237
@RobJohnston This looks good!  Am pulling in @dk-tbs to represent the Content and IA spec. One thing I would recommend related to the spec is that the example for the signed-in state should show the recommended Canada.ca state for 'transactional scenarios' as per page 39 of the spec. In particular, that requires removing the Canada.ca menu, the Canada.ca search box, most of the footer and the prom

[2016-11-21 16:06] cfarquharson commented on #266
I'm not sure who did the accessibility guide.  It wasn't me.  I would be great if it could be reworked and integrated into the guide.  Currently it's in English only and could use some updating.

[2016-11-21 16:08] #244 closed

[2016-11-21 16:10] cfarquharson commented on #249
@RobJohnston agreed it would be great to have but I don't want to be the one to make the call as to what solution to use for help.  I don't recall it ever being in the guide (which is probably why the issue was raised in the first place saying that it was in the Table of contents, but not in the content area).

[2016-11-21 16:34] RobJohnston commented on #249
But the original issue can be closed, as there is no longer an anchor link that points to nothing.

[2016-11-21 16:45] #249 closed

[2016-11-21 18:00] RobJohnston commented on #75
The page referenced by @duboisp is now a dead link.  Could it now be https://www.tbs-sct.gc.ca/hgw-cgf/oversight-surveillance/communications/csc-grc-eng.asp#wp2-7?

If so, there is no `<cite>` tag in the example anymore and there's a whole big discussion about italics in https://github.com/wet-boew/wet-boew/issues/7631.  Time to close this?

[2016-11-21 18:15] RobJohnston commented on #111
Second link now has no content.  Close?

[2016-11-21 19:48] RobJohnston commented on #210
Fixed by @cfarquharson in https://github.com/wet-boew/wet-boew-styleguide/pull/287!!!

[2016-11-21 20:05] RobJohnston commented on #230
Time to close this one.  It was merged with https://github.com/wet-boew/wet-boew/pull/6363.

[2016-11-21 20:07] RobJohnston commented on #79
Note:  Include this one:  https://github.com/wet-boew/wet-boew-styleguide/issues/235

[2016-11-21 20:12] RobJohnston commented on #246
The class has now been documented (in two places) on that page:

For "Unstyled lists":

For "Spacing lists"

[2016-11-21 20:34] RobJohnston commented on #263
@dravas-nat :  The style guide has been updated and an example is included.

For comparison, replacing the example with your text would show this:
![263-dl-hl](https://cloud.githubusercontent.com/assets/1347487/20499526/d5000d8a-afff-11e6-80d1-7b7d62bf7ddd.png)

[2016-11-21 20:40] RobJohnston commented on #267
Duplicate of https://github.com/wet-boew/wet-boew/issues/7373, and it's being dealt with in that issue.

[2016-11-22 12:29] #267 closed

[2016-11-23 14:27] DK-TBS commented on #237
Correct!  I should point out though, that although the spec allows for the reduced header/footer etc in transactional scenarios, it doesn't actually demand it.  So it's up to authors/owners to decide whether the transaction is sensitive enough that users should be prevented from accidentally clicking away from the process.  The latest version of the spec describes it like this:

So it's an option,

[2016-11-23 14:30] RobJohnston commented on #237
I was just trolling for issues that could be closed.  Sounds like this one can be, no?

[2016-11-23 15:21] neoinsight commented on #237
Yes thank you!

[2016-11-23 15:22] #237 closed

[2016-11-23 22:03] cfarquharson commented on #296
FYI the jumbotron, pills, progressbar/meter are now in French

[2016-11-23 22:03] #296 closed

[2016-11-24 04:25] duboisp commented on #296
Thanks @cfarquharson

[2016-12-27 23:20] duboisp opened #332 "Font awsome 4.7"
In: http://wet-boew.github.io/wet-boew-styleguide/v4/design/icons-en.html

Is it safe to update the reference to font-awesome to his latest version?

Changing [line 77](https://github.com/wet-boew/wet-boew-styleguide/blob/master/site/pages/v4/design/icons-en.hbs#L77) by ```http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css```

[2017-01-17 21:15] neoinsight commented on #238
Closing this issue - addressed in latest Content and IA spec

[2017-01-17 21:15] #238 closed

[2017-01-27 19:49] MichaelDalrymple opened #333 "Character Limit Lengths"
A note that on http://wet-boew.github.io/wet-boew-styleguide/v4/writing/strctr-en.html#image, it states that alt text should be under 125 characters. However the Canada.ca style guide states 140. I suspect the Style Guide takes precedence in these matters, so this may need to be updated.

[2017-02-10 16:52] jaycuse opened #334 "Add mention of"

[2017-02-10 16:52] #334 closed

[2017-02-15 16:21] RubyDo opened #335 "<def> style in italic is difficult to read for users with dyslexia and other reading disorders"
Hello,

Currently <def> in a definition list add an italic styling. dfn {font-style: italic;}

Italic styling is discouraged by the Canada.ca content style guide https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-style-guide.html#wp4-2

Recommended fix is to use a strong instead e.g. dfn {font-weight:bold;}

[2017-02-15 16:47] cfarquharson commented on #335
@RubyDo the styleguide does not force italics, it's WET4 itself that does this.  Please add your comments to the existing thread on this topic on that repository https://github.com/wet-boew/wet-boew/issues/7631

[2017-02-15 16:47] #335 closed

[2017-04-05 18:15] shawnthompson opened #336 "Text editing effects: Inserted text: _ins_"
On the [Text editing effects: Inserted text](http://wet-boew.github.io/wet-boew-styleguide/v4/design/textediting-en.html#inserted) page, would should remove the blurb about not using this element.

`ins` should be used if text was changed and inserted into a page. This is semantics and should be marked up properly.

If we have a problem with it's default look, we should be changing it in the CSS f

[2017-05-15 18:20] duboisp opened #340 "Documentation - dl-horizontal - no border"
Document the feature ```.brdr-0``` for ```.dl-horizontal``` in:

* http://wet-boew.github.io/wet-boew-styleguide/v4/design/lists-en.html#horizontal
* http://wet-boew.github.io/wet-boew-styleguide/v4/design/borders-en.html

This new style will be introduced by PR https://github.com/wet-boew/wet-boew/pull/7995

[2017-05-19 03:26] duboisp commented on #333
For publishing GoC web content the [Canada.ca style guide](https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-style-guide.html) should have precedence.

[2017-05-19 03:38] duboisp commented on #336
I would say to modify the existing blurb with a more useful information.

I agree

---

**For discussion**

* How the world are using the ```<ins>```?
* How they are styling it?
* What about the ```<del>```?
* What about when ```<ins>``` and ```<del>``` are used in a list or a table? (https://www.w3.org/TR/html52/edits.html#edits)
* How current web site are implementing the [W3C annotation spec](h

[2017-05-19 04:05] duboisp commented on #340
PR submitted with adding docs in http://wet-boew.github.io/wet-boew-styleguide/v4/design/lists-en.html#horizontal

[2017-05-19 12:33] RobJohnston commented on #336
Note how opening an HTML doc in MS Word changes the styles of `<ins>` and `<del>` in the following image.  Not only do they use the usual underlining and strikethrough, but they also colour the text to show that it's something different.

![ins-del](https://cloud.githubusercontent.com/assets/1347487/26247703/1627d668-3c6d-11e7-8bc2-a1045759b58b.png)

A background colour could also be used to ensur

[2017-06-02 16:12] M33Pmeep opened #343 "Minor inconsistency in list style example"
Hey there,

Just noticed that there is was a small mistake under the unstyled list:
http://wet-boew.github.io/wet-boew-styleguide/v4/design/lists-en.html#unstyled

It states to use ".lst-none", but in the example it shows "<ul class="list-none">".

![capture](https://cloud.githubusercontent.com/assets/17224444/26734629/bbcf6cc8-478c-11e7-8e6e-17d423d1cc15.PNG)

[2017-07-05 19:26] juliemercier opened #346 "variables"

[2017-07-05 19:27] #346 closed

[2017-07-05 19:59] juliemercier opened #347 "Table caption"
In the tables page, in the Correct use section, it is written: Place a descriptive <h*> title tag directly above a table when it does not contain a <caption> tag. This is what I stressed with my development team until I was doing some WCAG testing of our applications using JAWS and listened more closely. When jumping to tables (pressing T key) without reading any of the other content, if there is

[2017-07-23 21:22] alanfluff opened #348 "Install fails on latest macOS"
`macOS 10.12.6`
`Node 8.1.3`

The install instructions on https://wet-boew.github.io/v4.0-ci/docs/start-en.html under

end with the command `yo wet-boew-theme`.

This always errors, I have Googled a lot to try and fix this but cannot work it out.

Is it me, is no one using an up-to-date macOS and Node and installing WET, or, are there steps that everyone knows that aren't listed here? Or ... ?

Wi

[2017-07-24 16:30] nschonni commented on #348
The repo for the generator can be found here https://github.com/wet-boew/generator-wet-boew-theme
If you're just looking to poke around, just cloning the main repo would probably be better https://github.com/wet-boew/wet-boew

[2017-07-24 16:30] #348 closed

[2017-07-24 17:13] alanfluff commented on #348
Thanks, tried [https://github.com/wet-boew/generator-wet-boew-theme](https://github.com/wet-boew/generator-wet-boew-theme) but still stuck :/ I am getting the same as I run step 5. of [this](https://wet-boew.github.io/v4.0-ci/docs/start-en.html):

What I am trying to do is ...

... so I can knock up a quick test site and experiment with using WET components, but when I run step `5.` I get what fol

[2017-07-25 12:39] shawnthompson commented on #348
I believe there's issues with `node v8.x` for the build, not sure about Yeoman. I'm running `v7.10.0`. Not sure if that's the problem but worth a try.

I'm running [nvm](https://github.com/creationix/nvm) on my Macbook which makes it easy to install and switch versions of node.

[2017-07-25 13:42] alanfluff commented on #348
Tks @shawnthompson I'll try switching down to that version. Tried that once before and it didn't work, but not to that version. Cheers!

[2017-08-31 20:34] szet0018 opened #349 "italics in dfn lists not supported by Canada.ca style guide"
In "theme.css"

dfn {
    font-style: italic;
}

The issue is that italics are not supported by the Canada.ca style guide.

It was suggested by our team to remove the italic font-style from definition lists (dfn) in theme.css.

[2017-09-01 11:50] RobJohnston commented on #349
This is also being discussed in https://github.com/wet-boew/wet-boew/issues/7631

[2017-10-24 15:50] juliemercier opened #351 "Tables, coloured cells and WCAG"
I posted this in the wrong section about a year ago and now finally found the time to post here. To see the discussion, please see : https://github.com/wet-boew/wet-boew/issues/7590

The  coloured cells section of the tables page does not meet WCAG 1.41. Use of color: Color is not used as the only visual means of conveying information, indicating an action, prompting a response, or distinguishing

[2017-11-10 00:44] nschonni commented on #351
The section link in the other issue doesn't work anymore, is http://wet-boew.github.io/wet-boew-styleguide/v4/design/tables-en.html#colours what you're talking about?
I don't think there is an issue with the Zebra ones, since they convey no meaning

[2017-11-10 00:46] nschonni commented on #351
Ah, the only link makes more sense since it think it was taken directly from the Bootstrap 3 docs https://getbootstrap.com/docs/3.3/css/#tables-contextual-classes. They have added the following warning to that section now though

Using color to add meaning to a table row or individual cell only provides a visual indication, which will not be conveyed to users of assistive technologies – such as sc

[2017-11-23 20:52] nschonni opened #352 "Update the build setup to follow the rest of the WET repos"
Seems like this one has fallen pretty far behind and is failing now

[2018-03-14 19:31] shawnthompson opened #353 "Error in table code example"
You're missing a `tr` in the `thead` for the sample code on the [Working Examples: Tables](http://wet-boew.github.io/wet-boew-styleguide/v4/design/tables-en.html#width)

[code]

Should be

[code]

[2018-04-04 17:59] GitRubby opened #355 "Adxstudio Portal"
We are going to use Adxstudio Portal as the public front end for our CRM Dynamics application.
Just wondering if there is anyone that has applied the WET template to Adxstudio and would have any documentation to share.  (Or link to a website, or suggestion as to where I should be asking this question).

Thanks.

[2018-05-08 12:29] shawnthompson commented on #355
Opening an issue in the wet-boew repo might be better. This repo doesn't get much love these days.

https://github.com/wet-boew/wet-boew/issues

[2018-05-14 16:52] thomasgohard commented on #352
This is now causing people to see outdated and incorrect information that has been corrected but not published due to the build being broken: https://github.com/wet-boew/GCWeb/issues/1354.

[2018-05-16 23:53] #353 closed

[2018-05-17 15:51] #355 closed

[2018-10-22 23:36] JairoP opened #357 "Is there any technical documentation?"
Good afternoon,
Is there any technical documentation where I can read about things like:
1. Not using a part of the WET library? for example our CMS already handles multiple language so if I wanted to "turn off" i18n, could I do it without altering the code?
2. Description of the minimal components/files requires to make this work?

Thanks!

[2018-11-09 13:23] PaulCormier opened #358 "Minimum distribution"
I'm looking for guidance on the minimum set of files needed from the Production Files archives available on the [Downloads](http://wet-boew.github.io/wet-boew/docs/versions/dwnld-en.html) page. Specifically, when using the GCWeb theme, which subfolders are required and which are just part of the documentation and content examples pages?

Am I correct in assuming that the following is sufficent, an

[2018-11-09 16:21] PaulCormier commented on #358
Alternatively, how about this structure:
- /
  - wet-boew
    - assets
    - css
      - polyfills
    - fonts
    - js (Only the .min files)
      - deps
      - i18n (Just the languages you support?)
      - jquery (If you're not using the Google CDN.)
      - MathJax (Is this needed if you aren't using MathML?)
      - polyfills
  - GCWeb
    - assets
    - css (Only the .min files)
    - fonts

[2018-11-09 17:59] RobJohnston commented on #358
For all our projects, we take two folders out of the downloads (the WET folder and the theme folder):

In your case, with the GCWeb theme:
1. \themes-dist-4.0.29-gcweb\wet-boew
2. \themes-dist-4.0.29-gcweb\GCWeb

It's been noted that there is duplication in the folders:  https://github.com/wet-boew/wet-boew/issues/7968.

[2018-11-13 14:21] shawnthompson commented on #358
The CDTS uses the same as your first example. @duboisp wouldn't it be nice is there was a grunt task that just spits out those files? @nschonni I think we talked about this before. `grunt slim` or something.

[2018-11-13 16:02] duboisp commented on #358
You can use the CDN download available in the GCWeb release here: https://github.com/wet-boew/GCWeb/releases

For example: [themes-cdn-4.0.29-gcweb.zip](https://github.com/wet-boew/GCWeb/releases/download/v4.0.29/themes-cdn-4.0.29-gcweb.zip)

[2018-11-13 18:14] PaulCormier commented on #358
Lots of options. Thank you!
I think I'm wrapping my head around it now.

[2018-11-13 19:17] shawnthompson commented on #358
@duboisp that doesn't solve what I'm looking for... I want a grunt task that doesn't do the example html files or any of the other folders not needed to run WET.

[2018-12-19 20:37] mgifford opened #359 ""Users do scroll down the page" - Update"
Dates on some of these quotes are relevant. This quote was from a study that was written about in 2010.  User behaviors change over time:

"Web users spend 80% of their time looking at information above the page fold. Although users do scroll, they allocate only 20% of their attention below the fold."

https://www.nngroup.com/articles/scrolling-and-attention-original-research/

With mobile devices

[2018-12-20 00:44] RobJohnston commented on #359
I guess that's in reference to these two pages:
* http://wet-boew.github.io/wet-boew-styleguide/v4/design/pagination-en.html#supporting
* http://wet-boew.github.io/wet-boew-styleguide/v4/writing/rchtctr-en.html#length

[2018-12-20 19:57] mgifford commented on #359
Sorry..  Dates I do think are useful on some quotes..  But I think that that I totally misread what was on the printed screen.

Anyways, yes.  It was in reference to that @RobJohnston - feel free to re-open it but given my misreading I'm going to close it now.

[2018-12-20 19:57] #359 closed

[2019-01-13 18:47] cfmaley3 opened #360 "Wet Field flow"
Can someone pls  point me to examples of websites that are using field flow plugin/control  in production environment?

Thanks

Chris

[2019-01-13 21:31] cfmaley3 commented on #360
Thanks for your help

Chris

On Sun, Jan 13, 2019 at 4:30 PM Kody <notifications@github.com> wrote:

[2019-02-01 18:11] RubyDo opened #361 "Previous"
http://wet-boew.github.io/wet-boew-styleguide/v4/design/buttons-en.html
I would argue against the recommendation regarding the position of the Previous/back link first in a context of a form or multi-steps process as a general recommendation
-Previous: "Make  it the left button".
Having the back/previous button first may create confusion for the users submitting a form and it is of disadvantage fo

[2019-04-04 16:17] hsrudnicki opened #362 "Question: Are the .css files of WET3.1 encompassed by WET4, if yes where/or by which ones?"
I am doing a project conversion from WET3 to WET4, and the most part is done, however there are the following .css files:
<link rel="stylesheet" href="@Url.Content("~/boew-wet/wet3.0/grids/css/util-min.css")" />
<link rel="stylesheet" href="@Url.Content("~/boew-wet/wet3.0/js/css/pe-ap-min.css")" />
<link rel="stylesheet" href="@Url.Content("~/boew-wet/wet3.0/theme-gcwu-fegc/css/theme-min.css")" />

[2019-04-04 16:44] hsrudnicki commented on #362
again, here are the WET3 files to the above question where the files' stuff had been put into WET4:
wet3.0/grids/css/util-min.css
wet3.0/js/css/pe-ap-min.css
theme-gcwu-fegc/css/theme-min.css

[2019-04-05 16:13] thekodester commented on #362
For any WET4 setup I have a folder called static/dist with all assets, css, font, and javascript files.

- /static/assets
- /static/css
- /static/font
- /static/js

<img width="269" alt="Screen Shot 2019-04-05 at 12 10 43 PM" src="https://user-images.githubusercontent.com/23484460/55641553-2b087500-579c-11e9-8fc0-e6c8f4afabe5.png">
<img width="276" alt="Screen Shot 2019-04-05 at 12 10 54 PM" src="

[2019-04-05 16:21] thekodester commented on #362
Also would checkout:
https://www.nrc-cnrc.gc.ca/obj/doc/wet-boew/wet3_to_wet4_equivalencies.xlsx
https://github.com/wet-boew/wet-boew/issues/5729

[2019-04-06 04:30] thekodester commented on #361
These are mostly used by: [Tables (DataTable)](https://wet-boew.github.io/v4.0-ci/demos/tables/tables-en.html) which hide the Previous until the user is on page 2.

I would argue that it should be the the the left button, but the style guide could be updated with "Should not be visible when user is on first page".

[2019-04-06 04:31] thekodester commented on #361
These are mostly used by [Tables (DataTable)](https://wet-boew.github.io/v4.0-ci/demos/tables/tables-en.html) which hide the Previous until the user leaves page 1.

I would argue that it should be the left button, but the style guide could be updated with "Should not be visible when user is on first page".

[2019-04-06 04:41] thekodester commented on #357
Question 1:

WET translations well only trigger when the `<html lang="en">` is changed, if you current system changes this you might run into conflicts with some plugins, but I believe there is some logic if the i18n file does not exist it reverts to English defaults.

Also some plugins that rely on i18n we'll say in English even if the rest of your page changes language, so something to watch out

[2019-04-06 05:26] thekodester opened #363 "New Style Guide?"
So I was clean up my emails notice a few open issues for this repo. When looking into a few of them this repo is very broken. Things I noticed:

- Does not pull the latest CSS/JS (still using WET 4.0.29 from 2018)
- Menus and Breadcrumbs are broken
- Lots of broken HTML, like `<title>` tags are incomplete
- Does not use proper i18n
- _design-templates_ and _old_ folder seem out of place in this re

[2019-04-09 17:08] hsrudnicki commented on #362
Thank you Kody, but the above information, containing WET4 .css and .js files/references, is still not sufficient in my case to get exactly the same footer and header as on http://opo-boa.gc.ca/opinion-thoughts-eng.html in existing asp.net mvc forms based WET3.1.  I could convert the most but not in 100%.

[2019-04-09 17:16] thekodester commented on #362
Might wanna look at using [Government of Canada Web Usability theme](https://wet-boew.github.io/themes-dist/theme-gcwu-fegc/index-en.html) it is limited to v4.0.27, but it the best your gonna get to make this an easy transition, but regardless there gonna have to be rework of your html to make this work.

My post above (https://github.com/wet-boew/wet-boew-styleguide/issues/362#issuecomment-480336

[2019-04-09 18:06] shawnthompson commented on #362
When we did the change at Service Canada, we created a temporary CSS file with a lot of same class names from v3 but had the rules for v4 and then slowing fixed the actually content to use the write one. We scanned our site and created a list of all the classes that were used.

[2019-04-09 19:22] hsrudnicki commented on #362
In the meantime, FYI: the css and js of themes-dist-4.0.27-theme-gcwu-fegc have been used/called in the project under conversion to WET4. I am still tackling the conversion issue(s), it's no straightforward as seems/told already. Thx

[2019-04-11 02:31] duboisp commented on #363
The main issue is the build script on that repository is currently broken essentially because it's not compatible with the recent version of nodejs.

Using a build script that require nodejs might over complicate the goal of this repository.

Do you have any proposal on how we can better manage this style guide? May be by using a jekyll template like I did for the wet-boew-documentation website?

[2019-04-11 02:35] thekodester commented on #363
Jekyll would defiantly simplify the repo and make it easier to fix some of the issues (or do updates in future).

[2019-04-11 02:49] duboisp commented on #362
The conversion from WET3 to WET4 would not be easy, Like the grid system are different, the CSS component WET3 module cann't be map directly to a WET4 panel or a WET4 alert just to name a few.

@thekodester has provided some great resource that could help you execute that project.

Like @shawnthompson mentioned, using a temporary CSS during the switch over WET4 is almost essential if you need to k

[2019-04-11 02:55] duboisp commented on #363
Do you want to try to do that conversion?

The biggest job would be to migrate the handlebar (.hbs) into a markdown (.md) equivalent files.
And for the example that require custom markup would require to use the jekyll escape like

[code]

[2019-04-11 03:05] thekodester commented on #363
I don't mind.

Would we also need to pull over the following:
- _includes
- _layouts
- assets
- .editiorconfig
- .gitattributes
- .gitignore
- _config.yml
- params.json

From wet-boew-documentation repo?

[2019-04-11 03:39] duboisp commented on #363
ok, do what need to be done.

For topic where it's make sense, feel free to link back to section in the https://design.gccollab.ca/ . I know in the future, there is a moderated risk to have both project being aligned.

[2019-04-11 13:13] thekodester commented on #363
@duboisp I don't have the ability, but the link on main page:

FROM (http://wet-boew.github.io/wet-boew-styleguide/v4/index-en.html):
![Screen Shot 2019-04-11 at 9 12 12 AM](https://user-images.githubusercontent.com/23484460/55960010-ef592980-5c39-11e9-98ab-6d5ba8fce9fc.png)

TO:
http://wet-boew.github.io/wet-boew-styleguide/index-en.html

[2019-04-11 13:14] thekodester commented on #363
I'll also do some testing and see if any links are incorrect, since I was testing on a localhost it quite possible.

[2019-04-11 13:40] duboisp commented on #363
I am sending a PR that will fix that in a minutes

[2019-04-11 13:44] duboisp commented on #363
see #367

[2019-04-11 13:45] thekodester commented on #363
Also this update appears to address the following issues:
#142/#220
#266
#273
#352

[2019-04-11 13:48] duboisp commented on #363
You should be able to merge my PR  and close those issue.

[2019-04-11 13:51] thekodester commented on #363
Your PRs are merged, I also submitted one to fix different issues. Should I merge it?

[2019-04-11 13:52] thekodester commented on #363
Nevermind internet slow lately, see it merged, closing issue and the other ones.

[2019-04-11 13:53] thekodester commented on #142
Closing as fixed by https://github.com/wet-boew/wet-boew-styleguide/issues/363 and https://github.com/wet-boew/wet-boew-styleguide/pull/364.

[2019-04-11 13:53] #142 closed

[2019-04-11 13:53] thekodester commented on #220
Closing as fixed by https://github.com/wet-boew/wet-boew-styleguide/issues/363 and https://github.com/wet-boew/wet-boew-styleguide/pull/364.

[2019-04-11 13:53] #220 closed

[2019-04-11 13:54] thekodester commented on #266
Closing as fixed by https://github.com/wet-boew/wet-boew-styleguide/issues/363 and https://github.com/wet-boew/wet-boew-styleguide/pull/364.

[2019-04-11 13:54] #266 closed

[2019-04-11 13:54] thekodester commented on #273
Closing as fixed by https://github.com/wet-boew/wet-boew-styleguide/issues/363 and https://github.com/wet-boew/wet-boew-styleguide/pull/364.

[2019-04-11 13:54] #273 closed

[2019-04-11 13:54] thekodester commented on #352
Closing as fixed by https://github.com/wet-boew/wet-boew-styleguide/issues/363 and https://github.com/wet-boew/wet-boew-styleguide/pull/364.

[2019-04-11 13:54] #352 closed

[2019-04-11 13:55] thekodester commented on #363
Closing as fixed by https://github.com/wet-boew/wet-boew-styleguide/pull/364, https://github.com/wet-boew/wet-boew-styleguide/pull/365, https://github.com/wet-boew/wet-boew-styleguide/pull/366, and https://github.com/wet-boew/wet-boew-styleguide/pull/367.

[2019-04-11 13:55] #363 closed

[2019-04-11 14:31] thekodester opened #369 "Accessibility Guide"
Unsure if it was intentional since it appears to be only English at this time, but the [Accessibility Guide](https://wet-boew.github.io/wet-boew-styleguide/accessibility/index-en.html) has no link anywhere (this repo or even the main repo).

[2019-04-11 20:24] duboisp commented on #369
I don't think that was intentional, feel free to add it

[2019-04-12 14:33] thekodester commented on #369
Closing as resolved by #370.

[2019-04-12 14:33] #369 closed

[2019-04-12 14:37] thekodester commented on #347
Related https://github.com/wet-boew/wet-boew/issues/7729.

[2019-04-12 15:01] thekodester commented on #332
This was updated with the Jekyll update.

[2019-04-12 15:05] thekodester commented on #269
I would look into: https://www.datatables.net/examples/advanced_init/html5-data-attributes.html.

[2019-04-12 15:21] pcwsmith commented on #269
The Canada.ca Content Style Guide has comprehensive guidance on tables: https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-style-guide.html#wp5-3

(and @RobJohnston is right - it is good style to put the units in to header)

[2019-04-12 15:54] thekodester commented on #250
Closing issue as no response and appears to be spam.

[2019-04-12 15:54] #250 closed

[2019-04-12 19:41] thekodester commented on #343
Fixed with #372

[2019-04-12 19:41] thekodester commented on #258
Fixed with #372

[2019-04-16 13:47] martin-bussieres opened #377 "404 - https://wet-boew.github.io/wet-boew-styleguide/v4/design/options-en.html"
Hi, Demo page for all design features is not existing anymore. It was my favorite one stop shop for WET4 example.
https://wet-boew.github.io/wet-boew-styleguide/v4/design/options-en.html

If the page has been move I'd be interested to receive the new link

[2019-04-16 13:59] pcwsmith commented on #377
Hi if you are using WET to make web things for the Government of Canada, this is a good starting point:

https://wet-boew.github.io/themes-dist/GCWeb/index-en.html

[2019-04-16 14:35] thekodester commented on #377
This page was removed in favour of https://wet-boew.github.io/wet-boew-styleguide/index-en.html.

[2019-04-17 14:13] sangtrinh opened #379 "Form required field label fails AAA contrast"
We're trying to hit AAA for a GoC site we're building however we've noticed that the style guide recommendations for the colour of the (required) label (#d3080c) fails the contrast requirement for AAA (it is 5.51 vs the required 7) on a pure white background.  The working examples of this can be found here: https://wet-boew.github.io/v4.0-ci/demos/formvalid/formvalid-en.html.  Any recommendations

[2019-04-17 14:44] thekodester commented on #379
Also related discussion: https://github.com/wet-boew/wet-boew/issues/7896

@duboisp @lisafast

[2019-04-24 13:43] hsrudnicki commented on #362
Thank you for response, I already followed similar samples, as for example http://opo-boa.gc.ca/opinion-thoughts-eng.html based on WET4 that has been used to convert existing ASP.NET MVC Forms project with WET3.1 libraries, but I still cannot get the expected results to get at once the PSPC header, footer, as well form that is synchronous, and using Action Method to pass the object of Model class,

[2019-04-24 13:46] thekodester commented on #362
There is a .NET repo based on WET 4: https://github.com/wet-boew/wet-boew-dotnet

It hasn't been updated in years, but might get you in right direction.

[2019-04-24 15:28] RobJohnston commented on #362
Unfortunately, that repo uses WebForms and not MVC, so may not be a great fit.

[2019-04-26 04:52] duboisp commented on #362
@hsrudnicki there is now a new repository with a few .NET component for WET4. Take a look at https://github.com/wet-boew/wet-boew-dotnet-controls

[2019-05-30 14:03] thekodester opened #381 "Dead Links"
Need to work on finding dead/outdated links and updating.

List of links (found so far):
- https://getbootstrap.com/ too https://getbootstrap.com/docs/3.3/
- https://bootstrapdocs.com/v3.3.1/docs/components/#glyphicons too https://getbootstrap.com/docs/3.3/components/#glyphicons

This was discussed a little in https://github.com/wet-boew/wet-boew-styleguide/pull/380 and there a some related issues

[2019-07-11 14:23] Zhuglobal opened #382 "Is Canada.ca grid system change? I am not quite understand following grid code."
Could you explain following code:

<section class="home-your-gov gc-srvinfo well well-sm brdr-0">
	<div class="container">
		<h2>Your government</h2>
		<div class="row mrgn-bttm-lg">
			<div class="col-lg-7 col-xs-12 col-md-6">
				<div class="wb-eqht row">
					<div class="col-lg-6">
						<h3><a href="/en/contact.html">Contact us</a></h3>
						<p>Department and agency contacts, change your addr

[2019-07-11 14:29] thekodester commented on #382
Could you use the code tag? See https://guides.github.com/features/mastering-markdown/.

Also what page are you referring to?

[2019-07-11 14:34] Zhuglobal commented on #382
Canada.gc.ca home page: https://www.canada.ca/en.html

[2019-07-11 16:57] thekodester commented on #382
This would be a question best for https://github.com/wet-boew/GCWeb as Canada.ca follows slightly different style guide (also checkout https://www.canada.ca/en/government/about/design-system.html).

But I can say that the main page is basically mean't to be a large menu for people who have difficultly with the dropdown menu.

[2019-07-11 17:39] Zhuglobal commented on #382
I've read from the style-guide Grid system. and found the problem. It seems that it said code Canada.gc.ca grid system is start with middle device like Loptop and small desktop computer.  By default we can code col-md-4 as default device, is that correct?

[2019-07-11 18:31] thekodester commented on #382
Not sure I get what you mean, but `col-md` applies to any screen 992px or larger.

The code your referring to above is:
[code]
In this code there using `col-lg-6` which basic means on screens 1200px or large use 50% of the assigned space.

Source https://wet-boew.github.io/wet-boew-styleguide/design/grids-en.html.

[2019-07-11 18:32] thekodester commented on #382
Also @duboisp could chime in.

[2019-07-11 20:39] thekodester commented on #382
To expand a little more basically the grid system is not for hiding content to a specific screen size, but for rearranging content based on screen size.

[2019-07-12 12:52] Zhuglobal commented on #382
Thank you for your explaining. So, if we just code Canada.ca web pages, just use the grid system is this enough to make the web pages mobile friendly? I think the Canada.ca already has Bootstrap responsive design system, so we use the basic grid system should make the pages mobile friendly.

[2019-07-12 14:20] duboisp commented on #382
No, that is not a requirement, the requirement is to design for mobile first.

Not really, the web content need to be designed to support mobile friendly first. which is mostly a flatten version of it. After you use the grid system to organize the content into column for different larger view port.

[2019-07-31 17:34] thekodester commented on #381
Mostly resolved by https://github.com/wet-boew/wet-boew-styleguide/pull/384.

[2019-08-01 18:11] GormFrank commented on #381
Can this issue be closed or is it an ongoing one?

[2019-08-01 18:11] thekodester commented on #381
I can close it.

[2019-08-01 18:11] #381 closed

[2019-08-01 18:12] GormFrank commented on #381
Wow that was quick. Thanks!

[2019-08-20 19:27] joel-ld opened #386 "Badge - Include the bootstrap variante with color"
Hello,

I'm wondering why you didn't include the badge colored from bootstrap.

Like :
- `badge-danger`
- `badge-success`
- `badge-info`

I think that it would be usefull.

Thanks.

[2019-08-20 19:38] thekodester commented on #386
They appear to be part of Bootstrap v4. WET is still using Bootstrap v3.4.

See https://getbootstrap.com/docs/3.4/components/#badges

[2019-08-26 21:53] Bgolden67 opened #387 "Lists: Ordered list split?"
Has anyone played with the ol.split CSS method for splitting ordered lists instead of using ol start=

As much as I've tried to have my content people steer clear of using a list that continues after new headers, it's still happening and we are being forces to either code an unordered list and manually type the number or use the start=
Even if start= is allowed now, it still doesn't make sense to

[2019-09-11 12:49] tttpham opened #388 "overlay"

[2019-09-11 20:51] #388 closed

[2019-09-11 20:51] thekodester commented on #388
Please post your issue with a correct title and description.

[2019-09-11 22:58] jkshapiro opened #389 "Typo at https://wet-boew.github.io/wet-boew-styleguide/design/panels-fr"
On the page https://wet-boew.github.io/wet-boew-styleguide/design/panels-fr, the title "Default panel" should be "Panneau par défaut"

[2019-10-10 15:04] shawnthompson opened #391 "Button grouping in Lists"
Would it be possible to make this design pattern for buttons into a `ul` with `li` for each button.

![image](https://user-images.githubusercontent.com/2575266/66579512-f14d6800-eb4a-11e9-90ac-0de788fed014.png)

There is the **toolbar** pattern but this groups buttons all under the same `li`

![image](https://user-images.githubusercontent.com/2575266/66581083-789bdb00-eb4d-11e9-94e6-26d521e24dbb.p

[2019-10-10 17:20] thekodester commented on #391
The Bootstrap CSS doesn't support it. You can to create a bootstrap override for it.

[2019-10-10 17:21] thekodester commented on #391
I believe you mean:

[code]

[2019-10-10 18:16] shawnthompson commented on #391
That's exactly what I mean! I'm not sure why you have the `aria-label` in there or the `role`.

[2019-10-10 22:45] thekodester commented on #391
Just the testing application I used added them. As I said before bootstrap css doesn't support it. You need to open a PR in https://github.com/wet-boew/wet-boew too add the feature.

[2019-12-10 19:48] michael-milette opened #392 "Code for Circle class is incorrect in documentation"
On the following page, the code example for the "circle" class is incorrect:
https://wet-boew.github.io/wet-boew-styleguide/design/images-en.html

As seen in the actual source code for the preview of the class, the class name in the code example should actually be "img-circle".

Let me know if you have any questions or concerns.

Best regards,

Michael Milette

[2020-01-13 18:58] nxj709 opened #393 "Error codes for Total Validator"
Here is the list of error codes (to ignore) for Total Validator.

E002,E007,E014,E606,E668,E679,P883,P888,W866,W619,W620,W877,P041

Copy and paste into the "Include" tab / Ignore these.

Thanks

Nat

[2020-01-15 16:18] YannickBViens opened #394 "Error in sample code"
This sample code in the tables page has an unclosed tr tag.

// Empty cells in table:
<table class="table">
<caption class="wb-inv">Caption text</caption>
<thead>
    <tr>
     <th scope="col">...</th>
     <th scope="col">...</th>
    </tr>
  </thead>
  <tbody>
   <tr>
    <td>-</td>
    <td>-</td>
   <tr>
  </tbody>
</table>

[2020-01-15 16:40] thekodester commented on #393
Which file are you trying to update and for what purpose?

[2020-04-30 13:47] chew16 opened #395 "Putting figma assets on github for Canada.ca WET template"
Do you know if its possible to add a repository of WET assets specifically for prototyping applications such as Figma and Adobe XD? Or add a figma file containing the full library of WET assets used for prototyping? We are currently making a library of WET assets in Figma and it would be helpful to add them here for others that prototype.

Thanks!

[2020-07-19 03:21] thekodester commented on #395
Where always excited to have people submit new code!

As for where this code shall exist is a good question, you may want to also post in the main repo labelled wet-beow (gets little more love).

But I’ll tag a few people who can help make that decision: @GormFrank and @duboisp

[2020-07-20 11:38] duboisp commented on #395
@chew16 Yes it is possible, send me a email at pierre.dubois at servicecanada dot gc dot ca

[2020-09-29 12:19] swapnalithakarpspc opened #396 "Timeline component"
Hi
I am looking for a timeline component. Something like this.
https://bootsnipp.com/tags/timeline

Can you recommend any particular one? Or does WET already have one?

[2020-09-29 12:22] joel-osc commented on #396
I am not on the wet-boew team, but I think one is coming soon... here is an example: https://www.canada.ca/en/revenue-agency/services/subsidy/emergency-wage-subsidy/cews-how-revenue-drop-subsidy-rate-calculated.html#overall. We have already implemented this in DrupalWxt by just grabbing the css from this page and adjusting our markup accordingly.

[2020-10-22 23:40] thekodester commented on #396
Duplicate of https://github.com/wet-boew/wet-boew/issues/8949

[2020-10-22 23:40] #396 closed

[2020-11-09 15:21] dannysheppard opened #397 "Tabs not displaying correctly"
We have client reports of tabs (https://wet-boew.github.io/v4.0-ci/docs/ref/tabs/tabs-en.html) not displaying correctly on the pages of the ORT application.

The app is currently using CDTS v4_0_29.

The issue is intermittent and seems to only be reproducible by some users. I can reproduce it fairly consistently in Edge, but not at all in IE 11 or Firefox (and it also doesn't reproduce in Edge if

[2020-12-03 21:11] ljkirby commented on #395
@chew16 -- Apologies if this has been addressed elsewhere, but did we ever open-source any of those WET assets for Figma here or elsewhere? It would be awesome to have access to more prototyping libraries for GoC apps 😃

[2021-02-05 14:56] DesignRight opened #398 "abbr title with full term and acronym"
On https://wet-boew.github.io/wet-boew-styleguide/writing/stl-en.html, Canada Revenue Agency is spelled out and has the acronym showing but "CRA" also has an abbreviated title in the code. This means that JAWS users would hear "Canada Revenue Agency, (CRA), Canada Revenue Agency.

I think the abbreviated title in the code for CRA (abbr title="Canada Revenue Agency">CRA</abbr) should be deleted fro

[2021-02-19 02:32] thekodester commented on #397
This repo is not as active as
https://github.com/wet-boew/wet-boew
https://github.com/wet-boew/GCWeb

[2021-02-19 02:33] thekodester commented on #398
These are more active repos
https://github.com/wet-boew/wet-boew
https://github.com/wet-boew/GCWeb

[2021-02-27 16:34] davidmaher2 opened #399 "thematic change in the content"
Horizontal rule <hr>

Correct use
Compliance point(s):

Use to define a thematic change in the content, as per the correct us of an <hr>

Here's my Q: I wish to use the <hr> between data tables as a visual separator. Is this consistant with the compliance point of a "thematic change"?
If your answer is no what is the definiton of a thematic change in the content?

[2021-02-27 17:04] thekodester commented on #399
Personally I don’t see any issue with it as long as there is also some sorta header explaining what each table is for.

“Each visual element should have a textual alternative that represents the function of the visual element.”

https://www.w3.org/WAI/GL/techniques.htm

###### I am just a volunteer on this GitHub project.

[2021-02-28 01:45] davidmaher2 commented on #399
Thanks Kody.
Perhaps this alt text would represent the function of the horizontal rule: <hr class="brdr-bttm" alt=”visual separator”>
What do you think?
Dave

From: Kody <notifications@github.com>
Sent: February 27, 2021 12:05 PM
To: wet-boew/wet-boew-styleguide <wet-boew-styleguide@noreply.github.com>
Cc: Maher2, David (EC) <david.maher2@canada.ca>; Author <author@noreply.github.com>
Subject: Re:

[2021-03-10 05:58] thekodester commented on #399
You wanna use `title` tag something like `title="New section"` if you wanna follow https://www.w3.org/WAI/GL/techniques.htm

[2021-11-09 21:11] MelodyMaze opened #401 "design Table link is Broken"
https://wet-boew.github.io/wet-boew-styleguide/accessibility/design/tables-en.html >>Broken URL link

Where is the Design guide > Table?

[2021-11-09 21:18] MelodyMaze commented on #401
From here:

[https://wet-boew.github.io/wet-boew-styleguide/accessibility/requirements/tables-en.html](https://wet-boew.github.io/wet-boew-styleguide/accessibility/requirements/tables-en.html)

[2021-11-10 03:21] thekodester commented on #401
Issue is the accessibility pages.

Should go to https://wet-boew.github.io/wet-boew-styleguide/design/tables-en.html

[2022-01-24 17:16] Zhuglobal opened #402 "Can down load internet canada.ca temple for a intranet?"
We want to update the web3.0 intranet to Wet 4.0. Can we down load the internet canada.ca theme directly for a intranet?
if not , what will happen?

[2022-01-24 20:26] thekodester commented on #402
There are only two support themes now gcweb (canada.ca) and wet-boew.

Also when you say 3.0, if you mean wet-boew 3.0 it a pretty massive change not as simple as just changes the source files there’s a lot of code may need to rewrite and css classes that need to be replaced.

[2022-02-01 20:28] andrewnordlund opened #403 "Alert Images Lack Alternate Text"
For the alerts on https://wet-boew.github.io/wet-boew-styleguide/design/alerts-en.html each type: Success, Info, Alert, and Danger.

The type of alert is identified in 2 or 3 ways:
1. The shape of the icon
2. The colour of the icon and background of the text and left side of the `<div>`.
3. *Optionally* a `<h#>` heading

Since the heading is optional, then the only identifying features are an imag

[2022-02-02 04:42] thekodester commented on #403
There already a discussion about this in the main repo.

https://github.com/wet-boew/wet-boew/issues/8886

###### I am just a volunteer on this GitHub project.

[2022-02-02 16:24] Zhuglobal commented on #402
Hello dear,

What’s the different between Canada.ca and WET4.0
And what’s the different between intranet Canada.ca and internet Canada.ca? (I am concern the <head> files in the page top?)

Thanks,

Qinghui (Helen)  Zhu

Web communications officer | Chargé de communication Web
Communications Web | Web communications(LDW)
***@***.******@***.***>
Telephone | Téléphone: 343-203-6136
Global Affairs Can

[2022-02-03 12:46] thekodester commented on #402
WET4 base theme is essentially a starting point and can be easily customized visually.

Canada.ca/gcweb is the theme used for any canadian governments sites that are primarily apart of Canada.ca

If this is an internal app for a government project there no issue using Canada.ca/gcweb.

###### I am just a volunteer on this GitHub project.

[2022-03-02 17:22] Pierce-Manitowabi opened #404 "File Input button for forms are in English for both languages"
I am looking at the File Input option for Forms in the Web Experience Toolkit (WET) and I noticed that the pre-determined text for the button and beside the button says "Choose File" and 'No File Chosen'. This text is present in both English and French as well.

I would prefer it if the text were to be French on the French pages. Most classes we use tend to adjust depending on the Language.
![Scre

[2022-03-02 21:20] kodz1 commented on #404
File input is generated by the browser not wet-boew. You have to set your browser to your preferred language for it to change.

Only way around this is polyfills wet-boew does not apply polyfills when an element is browser supported.

###### I am just a volunteer on this GitHub project.

[2022-03-02 23:44] RobJohnston commented on #404
I think there may be another way around it, but it's not pat of WET (yet).  That would be to write a plugin like the [jQuery File Upload](https://blueimp.github.io/jQuery-File-Upload/).  It would be a lot of work to do.

[2022-04-13 15:20] locutux opened #405 "Info : Code used for the WET Style Guide for the columned table"
Hello team!

I love your implementation of the data tables on the main page of the WET Style Guide (https://wet-boew.github.io/wet-boew-styleguide/index-en.html).

Could I obtain a sample of the code used to generate that searchable table please? I tried replicating it, but I do not know which classes were coded in, and which were injected on page rendering.

Thank you and have a great day!

[2022-04-13 17:26] kodz1 commented on #405
The table is using `class="wb-tables tbl-gridify"` and the table body is using `class="row wb-eqht"` lastly the row is using `class="col-xs-12 col-sm-6 col-md-4"`.

You can view the raw code at https://raw.githubusercontent.com/wet-boew/wet-boew-styleguide/master/index-en.md

[code]

[2022-04-13 17:28] kodz1 commented on #405
Not 100% sure if gridify is part of wet-boew if not see https://raw.githubusercontent.com/wet-boew/wet-boew-styleguide/master/assets/css/gridify.css

Let me know if more questions!

[2022-04-13 17:44] locutux commented on #405
That was exactly it, many thanks @kodz1 !! :)

[2022-04-13 17:44] #405 closed

[2022-04-15 16:00] Lynntaohan opened #406 "WET4.0 Modal Overlay mask div background color"
I use WET4.0 Centered popup -Modal (lightbox Modal) to create a modal, but I cannot change the mask background color from black to gray, and made it opacity 0.5 (filer 50).
I tried to update theme.css, theme.min.css mfp-hide, modal-dialog, modal-content, overlay-def, overly-lg, modal-body class, but nothing changed, the background was still black and it is not transparent.
![lightbox](https://user

[2022-04-15 17:18] kodz1 commented on #406
To change the background try:
[code]

If you want to see the page contents, try also:
[code]

[2022-04-19 13:11] #406 closed

[2022-06-08 13:46] Arcadia15 opened #407 "Bad link for Theme: Canada.ca on index page"
https://wet-boew.github.io/themes-dist/GCWeb/docs/ref/GCWeb/GCWeb-en.html

[2022-06-08 15:08] kodz1 commented on #407
Correct link https://wet-boew.github.io/GCWeb/index-en.html

[2022-10-19 13:54] MartyBeanCSPS opened #409 "File Upload translation"
https://wet-boew.github.io/wet-boew-styleguide/design/forms-fr

![file upload](https://user-images.githubusercontent.com/102972504/196711089-d85de4d3-e400-4a56-ab43-9ae543a38bfd.jpg)

Is there a way to translate the text in the file upload button?

Thank you,
Marty

[2022-10-19 13:55] joel-osc commented on #409
I think this is your browser language configuration.

[2022-10-19 14:02] MartyBeanCSPS commented on #409
How do I change this so it displays properly?

From: joel-osc ***@***.***>
Sent: Wednesday, October 19, 2022 9:56 AM
To: wet-boew/wet-boew-styleguide ***@***.***>
Cc: Martin Bean ***@***.***>; Author ***@***.***>
Subject: Re: [wet-boew/wet-boew-styleguide] File Upload translation (Issue #409)

I think this is your browser language configuration.

—
Reply to this email directly, view it on GitHub<h

[2022-10-19 14:49] joel-osc commented on #409
That depends on your browser, in Firefox it is about:preferences... If you are expecting it to flip languages as you toggle between en and fr on your website it will not. It is fixed.

[2022-10-19 20:25] MartyBeanCSPS commented on #409
When I change my preferred language to French
It still shows in English
https://wet-boew.github.io/wet-boew-styleguide/design/forms-fr

***@***.***

***@***.***

Any ideas?

Thanks,
Marty

From: joel-osc ***@***.***>
Sent: Wednesday, October 19, 2022 10:50 AM
To: wet-boew/wet-boew-styleguide ***@***.***>
Cc: Martin Bean ***@***.***>; Author ***@***.***>
Subject: Re: [wet-boew/wet-boew-styleguide]

[2022-11-30 20:16] wewhite opened #410 "jQuery additional validation file vinUS bug how to override"
I have submitted a bug at jQuery-validation:
https://github.com/jquery-validation/jquery-validation/issues/2459

How to build WET to include the fix I have created?
Or do we have to wait until the latest version of jQuery-validation additional repo is updated?